@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?vma9wg');
    src:    url('../fonts/icomoon.eot?vma9wg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?vma9wg') format('truetype'),
        url('../fonts/icomoon.woff?vma9wg') format('woff'),
        url('../fonts/icomoon.svg?vma9wg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-trophy:before {
    content: "\e99e";
}
.icon-happy2:before {
    content: "\e9e0";
}
.icon-smile2:before {
    content: "\e9e2";
}
.icon-sad2:before {
    content: "\e9e6";
}
.icon-neutral2:before {
    content: "\e9f8";
}

