<div id="about">
  <div class="container">
    <div class="sub-section" id="who-runs">
      <div class="row">
        <div class="col-md-4">
          <ul class="fa-ul">
            <li>
              <i class="fa fa-li fa-phone" aria-hidden="true"></i> <a href="tel:{{ muni_contact.phone_number }}">{{ muni_contact.phone_number }}</a>
            </li>
            {% if muni_contact.url %}
            <li>
              <i class="fa fa-li fa-globe" aria-hidden="true"></i> <a href="{{ muni_contact.url|lower }}" target="_blank">{{ muni_contact.url|lower }}</a>
            </li>
            {% endif %}
            <li>
              <i class="fa fa-li fa-map-marker" aria-hidden="true"></i>
              {% if muni_contact.street_address_1 %}{{ muni_contact.street_address_1 }}<br>{% endif %}
              {% if muni_contact.street_address_2 %}{{ muni_contact.street_address_2 }}<br>{% endif %}
              {% if muni_contact.street_address_3 %}{{ muni_contact.street_address_3 }}<br>{% endif %}
              {% if muni_contact.street_address_4 %}{{ muni_contact.street_address_4 }}{% endif %}
            </li>

            <a href="#" class="btn btn-default send-email">Email municipality</a>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="row">
            {% for official in mayoral_staff.officials %}
              {% if forloop.counter == 1 or forloop.counter == 3 %}
              <div class="col-sm-3">
                <div class="person-info">
                  <div class="person-role">{{ official.role }}</div>
                  <ul class="fa-ul person-name">
                    {% if official and official.name %}
                    <li><i class="fa fa-li fa-user" aria-hidden="true"></i><i><a href="#contact-update-note">not yet available*</a></i></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
              {% elif forloop.counter < 5 %}
              <div class="col-sm-3">
                <div class="person-info">
                  <div class="person-role">{{ official.role }}</div>
                  <ul class="fa-ul person-name">
                    {% if official and official.name %}
                    <li><i class="fa fa-li fa-user" aria-hidden="true"></i> {{ official.title|default:'' }} {{ official.name }}</li>
                    {% endif %}
                  </ul>
                  <div class="person-contact-details">
                    <a href="#contact-details-{{ forloop.counter }}" data-toggle="collapse" class="show-contact-details show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Contact Details</a>

                    <div class="contact-details collapse" id="contact-details-{{ forloop.counter }}">
                      <ul class="fa-ul">
                        {% if official.office_phone %}
                        <li>
                          <i class="fa fa-li fa-phone" aria-hidden="true"></i> <a href="tel:{{ official.office_phone }}">{{ official.office_phone }}</a>
                        </li>
                        {% endif %}
                        {% if official.email %}
                        <li>
                          <i class="fa fa-li fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ official.email }}">{{ official.email }}</a>
                        </li>
                        {% endif %}
                      </ul>

                      {% if official.secretary %}
                        <div>
                          <h4>Secretary</h4>
                        </div>

                        <ul class="fa-ul">
                          {% if official.secretary.name %}
                          <li><i class="fa fa-li fa-user" aria-hidden="true"></i> {{ official.secretary.title|default:'' }} {{ official.secretary.name }}</li>
                          {% endif %}

                          {% if official.secretary.office_phone %}
                          <li><i class="fa fa-li fa-phone" aria-hidden="true"></i> <a href="tel:{{ official.secretary.office_phone }}">{{ official.secretary.office_phone }}</a></li>
                          {% endif %}

                          {% if official.secretary.email %}
                          <li><i class="fa fa-li fa-envelope" aria-hidden="true"></i> <a href="mailto:{{ official.secretary.email }}">{{ official.secretary.email }}</a></li>
                          {% endif %}
                        </ul>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>

          <div class="row">
            <div class="col-sm-10">
              {% if mayoral_staff.updated_date %}
              <p>Contact Details last updated: {{ mayoral_staff.updated_date }}</p>
              {% endif %}

              <p><strong><a name="contact-update-note">*Note:</a></strong> Mayoral positions may have changed due to the 2016 Municipal Elections. An updated, complete set of information will be drawn from quarterly updates provided by municipalities. The next update is due in December 2016.</p>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          {% if demarcation.disestablished %}
          Disestablished on {{ demarcation.disestablished_date }} into {{ demarcation.disestablished_to | join:", " }}
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="compare-place-picker hidden-sm hidden-xs">
            <h5>Compare this municipality with another:</h5>
            <div class="input">
              <input id="compare-place-select" type="text" class="form-control" placeholder="Type a municipality name or address..." autocomplete="off">
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
