{% load finance %}

{# to be called via `render_comparatives` inclusion tag #}
{% if comparisons %}
<ul class="indicator-comparatives">
  {% for comp in comparisons %}
    <li>
      {% if comp.type == 'relative' %}
        {{ comp.comparison }} <a href="/faq#similar-munis" target="_blank" class="faq-link" title="Municipalities in the same Municipal Infrastructure and Investment Framework (MIIF) category">similar municipalities</a> {{ comp.place }}: {{ comp.value|formatvalue:comp.value_type }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endif %}
