{% load finance %}

{# to be called via `render_comparatives` inclusion tag #}
<ul class="indicator-comparatives">
  {% for comp in comparisons %}
    <li>
      {% if comp.type == 'relative' %}
        {{ comp.result|comparison_relative_words:indicator.noun }} {{ comp.place }}: {{ comp.value|formatvalue:comp.value_type }}
      {% elif comp.type == 'norm' %}
        {{ comp.result|comparison_percentage_words }} {{ comp.place }} have {{ indicator.noun }}.
      {% endif %}
    </li>
  {% endfor %}
</ul>
