{% load dates %}

{% if demarcation.disestablished %}
  <div class="demarcation-notice disestablished">
    <div class="container">
      {{ geography.name }} was disestablished on {{ demarcation.disestablished_date|as_date|date:"j F Y" }}
      and amalgamated into
      {% for g in demarcation.disestablished_to_geos %}{% if forloop.last and not forloop.first %} and {% elif not forloop.first and not forloop.last %}, {% endif %}<a href="/profiles/{{ g.full_geoid }}-{{ g.short_name|slugify }}/">{{ g.short_name }}</a>{% endfor %}.
    </div>
  </div>
{% endif %}

{% if demarcation.established_after_last_audit or demarcation.established_within_audit_years %}
  <div class="demarcation-notice established">
    <div class="container">
      {{ geography.name }} was established on {{ demarcation.established_date|as_date|date:"j F Y" }}
      through the amalgamation of
      {% for g in demarcation.established_from_geos %}{% if forloop.last and not forloop.first %} and {% elif not forloop.first and not forloop.last %}, {% endif %}<a href="/profiles/{{ g.full_geoid }}-{{ g.short_name|slugify }}/">{{ g.short_name }}</a>{% endfor %}.
    </div>
  </div>
{% endif %}


{% if demarcation.land_gained or demarcation.land_lost%}
  <div class="demarcation-notice established">
    <div class="container">
      {% for d in demarcation.land_gained %}
      Part of
      {% for c in d.changes %}{% if forloop.last and not forloop.first %} and {% elif not forloop.first and not forloop.last %}, {% endif %}<a href="/profiles/{{ c.geo.full_geoid }}-{{ c.geo.short_name|slugify }}/">{{ c.geo.short_name }}</a>{% endfor %}
      became part of {{ geography.name }}
      on {{ d.date|as_date|date:"j F Y" }}.
      {% endfor %}

      {% for d in demarcation.land_lost %}
      Part of {{ geography.name }}
      became part of
      {% for c in d.changes %}{% if forloop.last and not forloop.first %} and {% elif not forloop.first and not forloop.last %}, {% endif %}<a href="/profiles/{{ c.geo.full_geoid }}-{{ c.geo.short_name|slugify }}/">{{ c.geo.short_name }}</a>{% endfor %}
      on {{ d.date|as_date|date:"j F Y" }}.
      {% endfor %}
    </div>
  </div>
{% endif %}
