{% load l10n finance %}

<div class="section" id="performance">
  <h1><i class="fa fa-line-chart" aria-hidden="true"></i> Financial Performance</h1>

  <div class="indicator audits">
    <h2>Audit outcomes</h2>

    <div class="row">

      <div class="col-sm-8">
        <div class="row">
        {% for opinion in audit_opinions.values %}
          <div class="col-sm-3">
            <table class="table table-bordered">
              <tr>
                <td class="text{% if forloop.first %}-large{% endif %} text-center"><strong>
                    {{ opinion.date|unlocalize }}
                    <i class="audit-rating audit-{{ opinion.rating }}" aria-hidden="true"></i>
                    {% if opinion.rating == "unqualified" %}
                    <i class="audit-rating audit-unqualified_extra" area-hidden="true"></i>
                    {% endif %}
                    <br>{{ opinion.result }}
                  </strong>
                </td>
              </tr>
              <tr class="table-footer">
                <td>
                  {% if opinion.report_url %}
                  <a href="{{ opinion.report_url }}" target="_blank">Read report <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                  {% else %}
                  No report available
                  {% endif %}
                </td>
              </tr>
            </table>
          </div>
        {% endfor %}
        </div>

        <div class="calc">
          <div><span class="h5">Source:</span> <a href="http://mfma.treasury.gov.za/Documents/07.%20Audit%20Reports" target="_blank">Municipal Audit Reports</a></div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            <p>There are <strong>5 types of audit outcomes.</strong></p>
            <div class="more">
              <a href="#more-audit-opinions" data-toggle="collapse" class="show-more-audit-opinions show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Learn what they are</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="more-audit-opinions collapse panel panel-didyouknow" id="more-audit-opinions">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <h3><i class="audit-rating audit-unqualified" area-hidden="true"></i><i class="audit-rating audit-unqualified_extra" area-hidden="true"></i><br>Unqualified Opinion</h3>
            <h4>No Findings</h4>
            The Auditor-General can state, without reservation, that the financial  statements of the municipality fairly represent the financial position of the municipality and are in line with Generally Recognised Accounting Practices (GRAP)
          </div>
          <div class="col-md-2">
            <h3><i class="audit-rating audit-unqualified_emphasis_of_matter" area-hidden="true"></i><br>Unqualified Opinion</h3>
            <h4>Emphasis of Matter Items</h4>
            Same as an Unqualified Opinion with no findings, but the Auditor-General wants to bring something particular to the attention of the reader.
          </div>
          <div class="col-md-2">
            <h3><i class="audit-rating audit-qualified" area-hidden="true"></i><br>Qualified Opinion</h3>
            The Auditor-General expresses reservations about the fair presentation of the financial statements. There is some departure from the Generally Recognised Accounting Practices (GRAP) but is not sufficiently serious as to warrant an adverse opinion or disclaimer of opinion.
          </div>
          <div class="col-md-2">
            <h3><i class="audit-rating audit-adverse" area-hidden="true"></i><br>Adverse Opinion</h3>
            This is expressed when the auditor concludes that the annual financial statements do not present the municipality’s financial position, results of operations and cash flows in line with Generally Recognised Accounting Practices (GRAP).
          </div>
          <div class="col-md-2">
            <h3><i class="audit-rating audit-disclaimer" area-hidden="true"></i><br>Disclaimer of Opinion</h3>
            The Auditor-General does not have all of the underlying documentation needed to determine an opinion. For example, the lack of underlying documentation and the amounts in question may be so great so that it is impossible to give any opinion on all.
          </div>
          <div class="col-md-2">
            <h3><i class="audit-rating audit-outstanding" area-hidden="true"></i><br>An Outstanding Opinion</h3>
            Means that the Auditor General raised queries with the municipality and therefore has not submitted another opinion.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="indicator">
    {% with indicators.cash_at_year_end.values|first as latest %}
    <h2 class="sub-heading">Cash Balance <span class="indicator-date">{{ latest.date|finyear }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result == None %}Not available{% else %}R {{ latest.result|floatformat:"0" }}{% endif %}</div>
        <div class="indicator-description">Cash balance at the end of the financial year.</div>
        <table class="indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">Positive balance</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">Negative balance</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#cash-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>

      <div class="col-sm-4">
        <div class="chart-container" data-chart="column-cash_at_year_end" data-unit="currency"></div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            A municipality's cash balance refers to the money it has in the bank that it can access easily. If a municipality's bank account is in overdraft it has a negative cash balance. Negative cash balances are a sign of serious financial management problems. A municipality should have enough cash on hand from month to month so that it can pay salaries, suppliers and so on.
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="cash-calc">
      <div class="ref"><span class="h5">Reference:</span> <a href="{{ indicators.cash_at_year_end.ref.url }}" target="_blank">{{ indicators.cash_at_year_end.ref.title }}</a></div>

      <h5>Formula:</h5>
      <ul class="formula">
        <li>Cash available at year end</li>
        <li>= <a href="{% table_url "cflow" year=latest.date items=4200 amountType="AUDA" %}" target="_blank">Cash Flow item code 4200, Audited Actual</a></li>
      </ul>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.cash_coverage.values|first as latest %}
    <h2>Cash Coverage <span class="indicator-date">{{ latest.date|finyear }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result == None %}Not available{% else %}{{ latest.result|month_days }}{% endif %}</div>
        <div class="indicator-description">Months of operating expenses can be paid for with the cash available.</div>
        <table class="indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">more than 3</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-ave">average</td>
            <td class="key-description">between 1 and 3</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">less than 1</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#cash-coverage-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="chart-container" data-chart="column-cash_coverage" data-unit="num" data-unit-name="months"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            Cash coverage measures the length of time, in months, that a municipality could manage to pay for its day-to-day expenses using just its cash reserves.  So, if a municipality had to rely on its cash reserves to pay all short-term bills, how long could it last? Ideally, a municipality should have at least three months' of cash cover.
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="cash-coverage-calc">
      <div class="ref"><span class="h5">Reference:</span> <a href="{{ indicators.cash_coverage.ref.url }}" target="_blank">{{ indicators.cash_coverage.ref.title }}</a></div>

      <h5>Formula:</h5>
      <ul class="formula">
        <li>= Cash available at year end / Operating Expenditure per month</li>
        <li>=
          <a href="{% table_url "cflow" year=latest.date items=4200 amountType="AUDA" %}" target="_blank">Cash Flow item code 4200, Audited Actual</a>
          /
          (<a href="{% table_url "incexp" year=latest.date items=4600 amountType="AUDA" %}" target="_blank">Income & Expenditure item code 4600, Annual Audited Actual</a> / 12)</li>
        <li>If Cash available at year end is negative, we say Cash Coverage is zero months.</li>
      </ul>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.op_budget_diff.values|first as latest %}
    <h2>Spending of Operating Budget <span class="indicator-date">{{ latest.date|finyear }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">
          {% if latest.result == None %}
            Not available
          {% else %}
            {{ latest.result|absolute }}%
            {% if latest.result != 0 %}{{ latest.overunder }}spent{% endif %}
          {% endif %}
        </div>
        <div class="indicator-description">Difference between budgeted operating expenditure and what was actually spent.</div>
        <table class="indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">up to 5%</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-ave">average</td>
            <td class="key-description">between 5% and 15%</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">more than 15%</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#op-budget-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="chart-container" data-chart="column-op_budget_diff" data-unit="percent"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            <p>This indicator is about how much more a municipalty spent on its operating expenses, than was planned and budgeted for. It is important that a municipality controls its day-to-day expenses in order to avoid cash shortages.  If a municipality sigificantly overspends its operating budget this is a sign of poor operating controls or something more sinister.</p>
            <p>Overspending by up to 5 percent is usually condoned; overspending in excess of 15 percent is a sign of high risk.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="op-budget-calc">
      <div class="ref"><span class="h5">Reference:</span> <a href="{{ indicators.op_budget_diff.ref.url }}" target="_blank">{{ indicators.op_budget_diff.ref.title }}</a></div>

      <h5>Formula:</h5>
      <ul class="formula">
        <li>= (Actual Operating Expenditure - Budget Operating Expenditure) / Budgeted Operating Expenditure</li>
        <li>=
          (<a href="{% table_url "incexp" year=latest.date items=4600 amountType="AUDA" %}" target="_blank">Income & Expenditure item code 4600, Audited Actual</a>
          -
          <a href="{% table_url "incexp" year=latest.date items=4600 amountType="ADJB" %}" target="_blank">Income & Expenditure item code 4600, Adjusted Budget</a>)
          /
          <a href="{% table_url "incexp" year=latest.date items=4600 amountType="ADJB"%}" target="_blank">Income & Expenditure item code 4600, Adjusted Budget</a>
      </ul>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.cap_budget_diff.values|first as latest %}
    <h2>Spending of Capital Budget <span class="indicator-date">{{ latest.date|finyear }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">
          {% if latest.result == None %}
            Not available
          {% else %}
            {{ latest.result|absolute }}%
            {% if latest.result != 0 %}{{ latest.overunder }}spent{% endif %}
          {% endif %}
        </div>
        <div class="indicator-description">Difference between budgeted capital expenditure and what was actually spent.</div>
        <table class="indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">up to 5%</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-ave">average</td>
            <td class="key-description">between 5% and 15%</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">more than 15%</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#cap-budget-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="chart-container" data-chart="column-cap_budget_diff" data-unit="percent"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            <p>Capital spending includes spending on infrastructure projects like new water pipes or building a library. Underspending on a capital budget can lead to an under-delivery of basic services. This indicator looks at the percentage by which actual spending falls short of the budget for capital expenses.  Persistent underspending may be due to underresourced municipalities which cannot manage large projects on time.</p>
            <p>Municipalities should aim to spend at least 95 percent of their capital budgets. Failure to spend even 85 percent is a clear warning sign.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="cap-budget-calc">
      <div class="ref"><span class="h5">Reference:</span> <a href="{{ indicators.cap_budget_diff.ref.url }}" target="_blank">{{ indicators.cap_budget_diff.ref.title }}</a></div>

      <h5>Formula:</h5>
      <ul class="formula">
        <li>= (Actual Capital Expenditure - Budgeted Capital Expenditure) / Budgeted Capital Expenditure</li>
        <li>=
          (<a href="{% table_url "capital" year=latest.date items=4100 amountType="AUDA" %}" target="_blank">Capital item code 4100, Total Assets, Audited Actual</a>
          -
          <a href="{% table_url "capital" year=latest.date items=4100 amountType="ADJB" %}" target="_blank">Capital item code 4100, Total Assets, Adjusted Budget</a>)
          /
          <a href="{% table_url "capital" year=latest.date items=4100 amountType="ADJB" %}" target="_blank">Capital item code 4100, Total Assets, Adjusted Budget</a>
      </ul>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.rep_maint_perc_ppe.values|first as latest %}
    <h2>Spending on Repairs and Maintenance <span class="indicator-date">{{ latest.date|finyear }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result == None %}Not available{% else %}{{ latest.result }}%{% endif %}</div>

        <div class="indicator-description">Spending on Repairs and Maintenance as a percentage of Property, Plant and Equipment.</div>
        <table class="indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">more than 8%</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">less than 8%</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#rep-maint-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="chart-container" data-chart="column-rep_maint_perc_ppe" data-unit="percent"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            <p>Infrastructure must be maintained so that service delivery is not affected. This indicator looks at how much money was budgeted for repairs and maintenance, as a percentage of total fixed assets (property, plant and equipment).  For every R10 spent on building/replacing infrastructure, R0.80 should be spent every year on repairs and maintenance.</p>
            <p>This translates into a Repairs and Maintenance budget that should be 8 percent of the value of property, plant and equipment.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="rep-maint-calc">
      <div class="ref"><span class="h5">Reference:</span> <a href="{{ indicators.rep_maint_perc_ppe.ref.url }}" target="_blank">{{ indicators.rep_maint_perc_ppe.ref.title }}</a></div>

      <h5>Formula:</h5>
      <ul class="formula">
        <li>= Repairs and maintenance expenditure / (Property, Plant and Equipment + Investment Property)</li>
        <li>=
          <a href="{% table_url "capital" year=latest.date items=4100 amountType="AUDA" %}" target="_blank">Capital Acquisition item code 4100, Audited Actual</a>
          /
          (<a href="{% table_url "bsheet" year=latest.date items=1300 amountType="AUDA" %}" target="_blank">Balance Sheet item code 1300, Audited Actual</a>
          +
          <a href="{% table_url "bsheet" year=latest.date items=1401 amountType="AUDA" %}" target="_blank">Balance Sheet item code 1401, Audited Actual</a>)
      </ul>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.wasteful_exp.values.1 as latest %}
    <h2>Fruitless and wasteful expenditure <span class="indicator-date">{{ latest.date|finyear }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result == None %}Not available{% else %}{{ latest.result }}%{% endif %}</div>
        <div class="indicator-description">Unauthorised, Irregular, Fruitless and Wasteful Expenditure as a percentage of operating expenditure.</div>
        <table class="indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">0%</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">more than 0%</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#fruitless-exp-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="chart-container" data-chart="column-wasteful_exp" data-unit="percent"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            <p><strong>Unauthorised</strong> expenditure means any spending that was not budgeted for or that is unrelated to the municpal department's function.  An example is using municipal funds to pay for unbudgeted projects. <strong>Irregular </strong> expenditure is spending that goes against the relevant legislation, municipal policies or by-laws.  An example is awarding a contract that did not go through tender procedures. <strong>Fruitless and wasteful</strong> expenditure concerns spending which was made in vain and would have been avoided had reasonable care been exercised.  An example of such expenditure would include paying a deposit for a venue and not using it and losing the deposit.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="fruitless-exp-calc">
      <div class="ref"><span class="h5">Reference:</span> <a href="{{ indicators.wasteful_exp.ref.url }}" target="_blank">{{ indicators.wasteful_exp.ref.title }}</a></div>

      <h5>Formula:</h5>
      <ul class="formula">
        <li>= Unauthorised, Irregular, Fruitless and Wasteful Expenditure / Actual Operating Expenditure</li>
        <li>=
          <a href="{% table_url "badexp" year=latest.date items="irregular,fruitless,unauthorised" %}" target="_blank">Unauthorised, Irregular, Fruitless and Wasteful Expenditure item codes <i>irregular, fruitless, unauthorised</i></a>
          /
          <a href="{% table_url "incexp" year=latest.date items=4600 amountType="AUDA" %}" target="_blank">Income & Expenditure item code 4600, Audited Actual</a>
      </ul>
      <p><span class="h5">Note:</span> Since calling expenditures unauthorised, fruitless and wasteful or irregular can involve quite a lot of debate, the numbers used are the restated audited amounts 18 months after the financial year end - part of the Medium Term Revenue and Expenditure Framework.</p>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.current_ratio.values|first as latest %}
    <h2>Current Ratio <span class="indicator-date">{{ latest.year|finyear }} Quarter {{ latest.quarter }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result == None %}Not available{% else %}{{ latest.result }}{% endif %}</div>
        <div class="indicator-description">The value of a municipality's short-term assets as a multiple of its short-term liabilities.</div>
        <table class="indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">More than 1.5</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-ave">good</td>
            <td class="key-description">Between 1 and 1.5</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">Less than 1</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#current-ratio-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="chart-container" data-chart="column-current_ratio" data-unit="num"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            <p>The current ratio compares the value of a municipality's short-term assets (cash, bank deposits, etc) compared with its short-term liabilities (creditors, loans due and so on). The higher the ratio, the better. The normal range of the current ratio is 1.5 to 2 (the municipality has assets more than 1.5 to 2 times its current debts). Anything less than that and the municipality may struggle to keep up with its payments.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="current-ratio-calc">
      <div class="ref"><span class="h5">Reference:</span> <a href="{{ indicators.current_ratio.ref.url }}" target="_blank">{{ indicators.current_ratio.ref.title }}</a></div>

      <h5>Formula:</h5>
      <ul class="formula">
        <li>= Current Assets / Current Liabilities</li>
        <li>=
          <a href="{% table_url "bsheet" year=latest.year items="2150" amountType="ACT" %}" target="_blank">Balance Sheet item code <i>2150</i>, Monthly Actual</a>
          /
          <a href="{% table_url "bsheet" year=latest.year items="1600" amountType="ACT" %}" target="_blank">Balance Sheet item code <i>1600</i>, Monthly Actual</a>
      </ul>
      <p><span class="h5">Note:</span> The quarterly summary looks at the state at the end of each quarter. If the monthly data is missing for the last month in the quarter, the previous month in that quarter. If all months are missing, that quarter is shown as blank.</p>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.liquidity_ratio.values|first as latest %}
    <h2>Liquidity Ratio <span class="indicator-date">{{ latest.year|finyear }} Quarter {{ latest.quarter }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result == None %}Not available{% else %}{{ latest.result }}{% endif %}</div>
        <div class="indicator-description">The municipality's immediate ability to pay its current liabilities</div>
        <table class="indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">More than 1</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">Less than 1</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#liquidity-ratio-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="chart-container" data-chart="column-liquidity_ratio" data-unit="num"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            <p>A favourable ratio would ensure that the Municipality is able to settle its short~term
commitments from monetary assets. The liquidity ratio is of the utmost importance to measure the financial liquidity and sustainability of the municipality.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="liquidity-ratio-calc">
      <div class="ref"><span class="h5">Reference:</span> <a href="{{ indicators.liquidity_ratio.ref.url }}" target="_blank">{{ indicators.liquidity_ratio.ref.title }}</a></div>

      <h5>Formula:</h5>
      <ul class="formula">
        <li>= (Cash + Call Investment Deposits) / Current Liabilities</li>
        <li>=
          <a href="{% table_url "bsheet" year=latest.year items="1800,2200" amountType="ACT" %}" target="_blank">Balance Sheet item codes <i>1800, 2200</i>, Monthly Actual</a>
          /
          <a href="{% table_url "bsheet" year=latest.year items="1600" amountType="ACT" %}" target="_blank">Balance Sheet item code <i>1600</i>, Monthly Actual</a>
      </ul>
      <p><span class="h5">Note:</span> The quarterly summary looks at the state at the end of each quarter. If the monthly data is missing for the last month in the quarter, the previous month in that quarter. If all months are missing, that quarter is shown as blank.</p>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.current_debtors_collection_rate.values|first as latest %}
    <h2>Current Debtors Collection Rate <span class="indicator-date">{{ latest.year|finyear }} Quarter {{ latest.quarter }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result == None %}Not available{% else %}{{ latest.result }}%{% endif %}</div>
        <div class="indicator-description">The percentage of new revenue (generated within the financial year) that a municipality actually collects</div>
        <table class="indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">100% or more</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">Less than 100%</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#current-debtors-collection-rate-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="chart-container" data-chart="column-current_debtors_collection_rate" data-unit="percent"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            <p>Municipalities don't manage to collect all of the money they earn through rates and service charges. This measure looks at the percentage of new revenue that a municipality collects.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="current-debtors-collection-rate-calc">
      <div class="ref"><span class="h5">Reference:</span> <a href="{{ indicators.current_debtors_collection_rate.ref.url }}" target="_blank">{{ indicators.current_debtors_collection_rate.ref.title }}</a></div>

      <h5>Formula:</h5>
      <ul class="formula">
        <li>= (Cash + Call Investment Deposits) / Current Liabilities</li>
        <li>=
          <a href="{% table_url "bsheet" year=latest.year items="1800,2200" amountType="ACT" %}" target="_blank">Balance Sheet item codes <i>1800, 2200</i>, Monthly Actual</a>
          /
          <a href="{% table_url "bsheet" year=latest.year items="1600" amountType="ACT" %}" target="_blank">Balance Sheet item code <i>1600</i>, Monthly Actual</a>
      </ul>
      <p><span class="h5">Note:</span> The quarterly summary looks at the state at the end of each quarter. If the monthly data is missing for the last month in the quarter, the previous month in that quarter. If all months are missing, that quarter is shown as blank.</p>
    </div>
    {% endwith %}
  </div>
</div>
