<div class="section" id="resources">
  <h1><i class="fa fa-book" aria-hidden="true"></i> Resources</h1>

  <div class="row">
    <div class="col-md-6">
      <h2>Financial Reports</h2>

      <p>Read more about Local Government Finances and learn about how your money is spent.</p>

      <ul>
        <li>
          <a href="http://mfma.treasury.gov.za/Documents/05.%20Annual%20Financial%20Statements" target="_blank">Annual Financial Statements</a> of municipalities since 2002-2003.</a> These include the Notes to the Annual Financial Statements where you can find explanations of specific accounting practises and calculations used by the municipality in its financial reporting and some decision making.
        </li>
        <li>
          <a href="http://mfma.treasury.gov.za/Media_Releases/The%20state%20of%20local%20government%20finances/Pages/default.aspx" target="_blank">State of Local Government Finances reports</a> are published every year by National Treasury and describe in detail how Municipalities are performing.
        </li>
        <li>
          <a href="http://mfma.treasury.gov.za/Media_Releases/s71/Pages/default.aspx" target="_blank">In-year Management, Monitoring and Evaluation of Municipal Finances</a>. Annual and quarterly PDF and Excel reports on Municipal finances since 2007.
        </li>
      </ul>

      <br>

      <h2>Understanding Municipal Finance</h2>

      <ul>
        <li>
          <a href="http://mfma.treasury.gov.za/Return_Forms/Pages/default.aspx" target="_blank">MFMA Return Forms</a> submitted by Municipalities to National Treasury. Understanding these forms can help you understand the information on Municipal Money.
        </li>
        <li>
          <a href="http://mfma.treasury.gov.za/Circulars/Pages/Circular71.aspx" target="_blank">Circular 71</a> explains many of the financial norms and indicators used to gauge the financial performance of Municipalities.</a>
        </li>
        <li>
          <a href="http://mfma.treasury.gov.za/Pages/Default.aspx" target="_blank">Treasury's Municipal Finance website</a> is filled with resources on municipal finance.
        </li>
      </ul>
    </div>
  </div>
</div>
