{% load l10n finance %}

<div class="section" id="spending">
  <h1><i class="fa fa-credit-card"></i> Spending <span class="subtitle">- How money is spent</span></h1>

  <div class="indicator">
    {% with indicators.expenditure_trends_staff.values|first as latest %}
      <h2>
	  Staff Wages and Salaries <span class="indicator-date">{{ latest.date|finyear }}</span>
	  {% include 'profile/_has_updated.html' %}
      </h2>

    {% if demarcation.established_after_last_audit %}
    {% include 'profile/_demarcation_indicator_notice.html' %}
    {% else %}

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value">
          {% if latest.result == None %}
          Not available
          <div class="faq-link"><a href="/faq#info-not-available" target="blank">What does this mean?</a></div>
          {% else %}
          {{ latest.result }}%
          {% endif %}
        </div>
        <div class="indicator-description">Staff salaries and wages as a percentage of operating expenditure.</div>
        {% render_comparatives "expenditure_trends_staff" %}
        <table class="indicator-key">
          <tr>
            <td class="key-symbol">within norms</td>
            <td class="key-description">25% to 40%</td>
          </tr>
          <tr>
            <td class="key-symbol">outside norms</td>
            <td class="key-description">less than 25% or more than 40%</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#staff-exp-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="chart-container" data-chart="column-expenditure_trends_staff" data-unit="percent"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            <p>Employee-related costs are typically the largest portion of operating expenditure, but they should not grow so large that they threaten the sustainability of the operating budget.</p>
            <p>The normal range for this indicator is between 25% - 40% of total operating expenditure.  Municipalities must guard against spending too much on staff while also making sure they have the people they need to deliver services effectively.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="staff-exp-calc">
      <h5>Formula:</h5>

      <ul class="formula">
        <li>= Wages & Salaries + Social Contributions / Actual Operating Expenditure</li>
        <li>=
          <a href="{% table_url "incexp" year=latest.date items="3000,3100" amountType="AUDA" %}" target="_blank">Income & Expenditure item codes 3000, 3100, Audited Actual</a>
          /
          <a href="{% table_url "incexp" year=latest.date items=4600 amountType="AUDA" %}" target="_blank">Income & Expenditure item code 4600, Audited Actual</a>
      </ul>
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.expenditure_trends_contracting.values|first as latest %}
      <h2>
	  Contractor Services <span class="indicator-date">{{ latest.date|finyear }}</span>
	  {% include 'profile/_has_updated.html' %}
      </h2>

    {% if demarcation.established_after_last_audit %}
    {% include 'profile/_demarcation_indicator_notice.html' %}
    {% else %}

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value">
          {% if latest.result == None %}
          Not available
          <div class="faq-link"><a href="/faq#info-not-available" target="blank">What does this mean?</a></div>
          {% else %}
          {{ latest.result }}%
          {% endif %}
        </div>
        <div class="indicator-description">Costs of contractor services as a percentage of operating expenditure.</div>
        {% render_comparatives "expenditure_trends_contracting" %}
        <table class="indicator-key">
          <tr>
            <td class="key-symbol">within norms</td>
            <td class="key-description">up to 5%</td>
          </tr>
          <tr>
            <td class="key-symbol">outside norms</td>
            <td class="key-description">more than 5%</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#contracting-exp-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="chart-container" data-chart="column-expenditure_trends_contracting" data-unit="percent"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            <p>Private contractors are sometimes needed for certain work, but they are usually more expensive than municipal staff.  This should be kept to a minimum and efforts should be made to provide services in-house, where possible.</p>
            <p>This measure is normally between 2 percent and 5 percent of total operating expenditure.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="contracting-exp-calc">
      <h5>Formula:</h5>

      <ul class="formula">
        <li>= Contracted Services / Actual Operating Expenditure</li>
        <li>=
          <a href="{% table_url "incexp" year=latest.date items="4200" amountType="AUDA" %}" target="_blank">Income & Expenditure item code 4200, Audited Actual</a>
          /
          <a href="{% table_url "incexp" year=latest.date items=4600 amountType="AUDA" %}" target="_blank">Income & Expenditure item code 4600, Audited Actual</a>
      </ul>
    </div>
    {% endif %}
    {% endwith %}
  </div>

  <div class="indicator">
    <h2>What is Money Spent On?</h2>
    {% if demarcation.established_after_last_audit %}
    {% include 'profile/_demarcation_indicator_notice.html' %}
    {% else %}

    <div class="row">
      <div class="col-sm-8">
        <div class="chart-container" data-chart="grouped-bar-expenditure_functional_breakdown" data-unit="currency"></div>
        <div class="show-calc"><a href="#expenditure-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Source</a></div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            Municipalities spend money on providing services and maintaining facilities for their residents.
          </div>
        </div>
      </div>
    </div>

    <div class="calc collapse" id="expenditure-calc">
      <h5>Source:</h5>

      <ul class="formula">
        <li>
          <a href="{% table_url "incexp" %}" target="_blank">Income & Expenditure</a> Audited Actual and Original Budget
        </li>
      </ul>
    </div>
    {% endif %}
  </div>
</div>
