{% extends '_base.html' %}
{% load staticfiles pipeline l10n jsonify finance %}

{% block head_title %}{{ geography.this.short_name }} - {{ block.super }}{% endblock %}
{% block head_meta_description %}Municipal performance for {{ geography.this.short_name}}, and other information.{% endblock %}

{% block head_facebook_tags %}
    <meta property="og:title" content="Municipal Money Profile: {% firstof geography.this.full_name geography.this.short_name %}" />
    <meta property="og:site_name" content="Municipal Money" />
    <meta property="og:description" content="Municipal performance for {{ geography.this.short_name}}, and other information." />
    <meta property="og:type" content="article" />
{% endblock %}

{% block body_id %}profile{% endblock %}

{% block header_content %}
  <div id="cover-map" class="clearfix">
    <div id="slippy-map"></div>
    <div id="cover-profile">
      <article class="clearfix column-half">
        <header id="header-box" class="column-full">
          <h1 class="title">{{ geography.this.short_name }}</h1>
          <p class="caption">
            {{ geography.this.category_name|capfirst }}
            in
            {% if geography.parents %}
              {% for level, g in geography.parents.items %}
                <a href="/profiles/{{ g.full_geoid }}-{{ g.short_name|slugify }}/">{{ g.short_name }}</a>,
              {% endfor %}
            {% endif %}
            {{ geography.this.province_name }}
          </p>
        </header>
        <div class="stat stat-primary">
          <span class="name">Population</span>
          <span class="value">{{ total_population|floatformat:"0" }}</span>
        </div>
        {% if geography.this.square_kms %}
        <div class="stat stat-secondary">
          <span class="value">{% if geography.this.square_kms < 1.0 %}{{ geography.this.square_kms|floatformat:"3" }}{% else %}{{ geography.this.square_kms|floatformat:"1" }}{% endif %}</span>
          <span class="name"> square kilometres</span>
        </div>
          {% if population_density %}
          <div class="stat stat-secondary">
            <span class="value">{{ population_density|floatformat:"1" }}</span>
            <span class="name"> people per square kilometre</span>
          </div>
          {% endif %}
        {% endif %}
      </article>
    </div>
  </div>

  <div id="about">
    <div class="container">
      <div class="sub-section" id="who-runs">
        <div class="row">
          <div class="col-md-4 col-md-push-8">
            <ul class="fa-ul">
              <li>
                <i class="fa fa-li fa-phone" aria-hidden="true"></i> <a href="tel:{{ muni_contact.phone_number }}">{{ muni_contact.phone_number }}</a>
              </li>
              {% if muni_contact.url %}
              <li>
                <i class="fa fa-li fa-globe" aria-hidden="true"></i> <a href="{{ muni_contact.url|lower }}" target="_blank">{{ muni_contact.url|lower }}</a>
              </li>
              {% endif %}
              <li>
                <i class="fa fa-li fa-map-marker" aria-hidden="true"></i>
                {{ muni_contact.street_address_1 }}<br>
                {{ muni_contact.street_address_2 }}<br>
                {{ muni_contact.street_address_3 }}<br>
                {{ muni_contact.street_address_4 }}
              </li>
            </ul>
          </div>
          <div class="col-md-8 col-md-pull-4">
            <div class="row">
              {% for official in mayoral_staff.officials %}
                {% if forloop.counter < 5 %}
                <div class="col-sm-3">
                  <div class="person-info">
                    <div class="person-role">{{ official.role }}</div>
                    <ul class="fa-ul person-name">
                      <li><i class="fa fa-li fa-user" aria-hidden="true"></i> {{ official.title }} {{ official.name }}</li>
                    </ul>
                    <div class="person-contact-details">
                      <a href="#contact-details-{{ forloop.counter }}" data-toggle="collapse" class="show-contact-details show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Contact Details</a>
                      <div class="contact-details collapse" id="contact-details-{{ forloop.counter }}">
                        {% if official.secretary %}
                        <div>
                          <h4>Secretary</h4>
                          {{ official.secretary.title }} {{ official.secretary.name }}
                        </div>
                        {% endif %}

                        {% with details=official.secretary|default:official %}
                          <ul class="fa-ul">
                            <li>
                              <i class="fa fa-li fa-phone" aria-hidden="true"></i> <a href="tel:{{ details.office_phone }}">{{ details.office_phone }}</a>
                            </li>
                            <li>
                              <i class="fa fa-li fa-envelope" aria-hidden="true"></i> <a href="{{ details.email }}">{{ details.email }}</a>
                            </li>
                          </ul>
                        {% endwith %}
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>

            {% if mayoral_staff.updated_date %}
            Last updated: {{ mayoral_staff.updated_date }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

    {% block page-nav %}
        <div class="page-nav-wrapper">
          <div class="page-nav-container">
            <div class="container">
              <div class="page-nav-info">
                <div class="muni-name">{{ geography.this.short_name }}</div>
                <div class="muni-population">Population: {{ total_population|floatformat:"0" }}</div>
              </div>

              <ul class="nav nav-pills" id="page-nav">
                <li role="presentation" class="active"><a href="#performance"><i class="fa fa-line-chart fa-2x" aria-hidden="true"></i><br><span class="nav-text">Performance</span></a></li>
                <li role="presentation"><a href="#income"><i class="fa fa-money fa-2x" aria-hidden="true"></i><br><span class="nav-text">Income</span></a></li>
                <li role="presentation"><a href="#spending"><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i><br><span class="nav-text">Spending</span></a></li>
              </ul>

            </div>
          </div>
        </div>
    {% endblock %}
{% endblock %}

{% block content %}

<div class="section" id="performance">
  <h1><i class="fa fa-line-chart" aria-hidden="true"></i> Performance</h1>

  <div class="indicator">
    <h2>Audit outcomes</h2>

    <div class="row">

      <div class="col-sm-8">
        <div class="row">
        {% for opinion in audit_opinions %}
          <div class="col-sm-3">
            <table class="table table-bordered">
              <tr>
                <td class="text{% if forloop.first %}-large{% endif %} text-center"><strong>
                    {{ opinion.year|unlocalize }}
                    <i class="audit-rating audit-{{ opinion.rating }}" aria-hidden="true"></i>
                    {% if opinion.rating == "unqualified" %}
                    <i class="audit-rating audit-unqualified_extra" area-hidden="true"></i>
                    {% endif %}
                    <br>{{ opinion.result }}
                  </strong>
                </td>
              </tr>
              <tr class="table-footer">
                <td>
                  {% if opinion.report_url %}
                  <a href="{{ opinion.report_url }}" target="_blank">Read report <i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                  {% else %}
                  No report available
                  {% endif %}
                </td>
              </tr>
            </table>
          </div>
        {% endfor %}
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            <p>There are <strong>5 types of audit outcomes.</strong></p>
            <div class="more">
              <a href="#more-audit-opinions" data-toggle="collapse" class="show-more-audit-opinions show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Learn what they are</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="more-audit-opinions collapse panel panel-didyouknow" id="more-audit-opinions">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <h3><i class="audit-rating audit-unqualified" area-hidden="true"></i><i class="audit-rating audit-unqualified_extra" area-hidden="true"></i><br>Unqualified</h3>
            <h4>No Findings</h4>
            The Auditor-General can state, without reservation, that the financial  statements of the municipality fairly represent the financial position of the municipality and are in line with Generally Recognised Accounting Practices (GRAP)
          </div>
          <div class="col-md-2">
            <h3><i class="audit-rating audit-unqualified_emphasis_of_matter" area-hidden="true"></i><br>Unqualified</h3>
            <h4>Emphasis of Matter Items</h4>
            Same as an unqualified opinion with no findings, but modified without affecting the status of the opinion on the financial statement of the municipality.
          </div>
          <div class="col-md-2">
            <h3><i class="audit-rating audit-qualified" area-hidden="true"></i><br>Qualified Opinion</h3>
            The Auditor-General expresses reservations about the fair presentation of the financial statements. There is some departure from the Generally Recognised Accounting Practices (GRAP) but is not sufficiently serious as to warrant an adverse opinion or disclaimer of opinion.
          </div>
          <div class="col-md-2">
            <h3><i class="audit-rating audit-adverse" area-hidden="true"></i><br>Adverse Opinion</h3>
            This is expressed when the auditor concludes that the annual financial statements do not present the municipality’s financial position, results of operations and cash flows in line with Generally Recognised Accounting Practices (GRAP).
          </div>
          <div class="col-md-2">
            <h3><i class="audit-rating audit-disclaimer" area-hidden="true"></i><br>Disclaimer of Opinion</h3>
            The Auditor-General does not have all of the underlying documentation needed to determine an opinion. For example, the lack of underlying documentation and the amounts in question may be so great so that it is impossible to give any opinion on all.
          </div>
          <div class="col-md-2">
            <h3><i class="audit-rating audit-outstanding" area-hidden="true"></i><br>An Outstanding Opinion</h3>
            means that the Auditor General raised queries with the municipality and therefore has not submitted another opinion.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="indicator">
    {% with indicators.cash_at_year_end|first as latest %}
    <h2 class="sub-heading">Cash Balance <span class="indicator-date">{{ latest.year|finyear }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result %}R {{ latest.result|floatformat:"0" }} {% else %} Not available {% endif %}</div>
        <div class="indicator-description">Cash balance at the end of the financial year.</div>
        <table class="table table-bordered indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">Positive balance</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">Negative balance</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#cash-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculations</a></div>

      </div>
      <div class="col-sm-4">
        <div class="cash-at-year-end chart-container"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            In terms of section 45 of the MFMA, municipalities are not permitted to close the financial year with any short-term borrowing or overdraft. The fact that a municipality is not able to close the financial year with positive cash positions, is a very strong indicator that these municipality is in financial distress at that date.
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="cash-calc">
      <h5>Formula:</h5>
      <ul class="formula">
        <li>Cash available at year end</li>
        <li>= <a href="{% table_url "cflow" year=latest.year muni=geography.this.geo_code items=4200 amountType="ACT" %}" target="_blank">Cash Flow item code 4200, Audited Actual</a></li>
      </ul>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.cash_coverage|first as latest %}
    <h2>Cash Coverage <span class="indicator-date">{{ latest.year|finyear }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result %}{{ latest.result }} months{% else %} Not available {% endif %}</div>
        <div class="indicator-description">Months of operating expenses can be paid for with the cash available.</div>
        <table class="table table-bordered indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">more than 3</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-ave">average</td>
            <td class="key-description">between 1 and 3</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">less than 1</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#cash-coverage-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="cash-coverage chart-container"></div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-didyouknow">
          <div class="panel-heading"><i class="fa fa-info-circle" aria-hidden="true"></i> Did you know?</div>
          <div class="panel-body">
            A <strong>low value</strong> shows that the municipality may be unable to pay for the day-to-day expenses.
          </div>
        </div>
      </div>
    </div>
    <div class="calc collapse" id="cash-coverage-calc">
      <h5>Formula:</h5>

      <ul class="formula">
        <li>= Cash available at year end / Operating Expenditure per month</li>
        <li>=
          <a href="{% table_url "cflow" year=latest.year items=4200 amountType="ACT" %}" target="_blank">Cash Flow item code 4200, Audited Actual</a>
          /
          <a href="{% table_url "incexp" year=latest.year items=4600 amountType="ACT" %}" target="_blank">Income & Expenditure item code 4600, Audited Actual</a></li>
      </ul>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.op_budget_diff|first as latest %}
    <h2>Spending of Operating Budget <span class="indicator-date">{{ latest.year|finyear }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result %}{{ latest.result }}% {% else %} Not available {% endif %}</div>
        <div class="indicator-description">Difference between operating budget and actual expenditure.</div>
        <table class="table table-bordered indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">less than 10%</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-ave">average</td>
            <td class="key-description">between 10% and 25%</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">more than 25%</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#op-budget-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="op-budget-diff chart-container"></div>
      </div>
    </div>
    <div class="calc collapse" id="op-budget-calc">
      <h5>Formula:</h5>

      <ul class="formula">
        <li>= (Budgeted Operating Expenditure - Actual Operating Expenditure) / Budgeted Operating Expenditure</li>
        <li>=
          (<a href="{% table_url "incexp" year=latest.year items=4600 amountType="ADJB" %}" target="_blank">Income & Expenditure item code 4600, Adjusted Budget</a>
          -
          <a href="{% table_url "incexp" year=latest.year items=4600 amountType="ACT" %}" target="_blank">Income & Expenditure item code 4600, Audited Actual</a>)
          /
          <a href="{% table_url "incexp" year=latest.year items=4600 amountType="ADJB "%}" target="_blank">Income & Expenditure item code 4600, Adjusted Budget</a>
      </ul>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.cap_budget_diff|first as latest %}
    <h2>Spending of Capital Budget <span class="indicator-date">{{ latest.year|finyear }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result %}{{ latest.result }}% {% else %} Not available {% endif %}</div>
        <div class="indicator-description">Difference between capital budget and actual expenditure.</div>
        <table class="table table-bordered indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">less than 10%</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-ave">average</td>
            <td class="key-description">between 10% and 30%</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">more than 30%</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#cap-budget-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="cap-budget-diff chart-container"></div>
      </div>
    </div>
    <div class="calc collapse" id="cap-budget-calc">
      <h5>Formula:</h5>

      <ul class="formula">
        <li>= (Budgeted Capital Expenditure - Actual Capital Expenditure) / Budgeted Capital Expenditure</li>
        <li>=
          (<a href="{% table_url "capital" year=latest.year items=4100 amountType="ADJB" %}" target="_blank">Capital item code 4100, Adjusted Budget</a>
          -
          <a href="{% table_url "capital" year=latest.year items=4100 amountType="ACT" %}" target="_blank">Capital item code 4100, Audited Actual</a>)
          /
          <a href="{% table_url "capital" year=latest.year items=4100 amountType="ADJB" %}" target="_blank">Capital item code 4100, Adjusted Budget</a>
      </ul>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.rep_maint_perc_ppe|first as latest %}
    <h2>Spending on Repairs and Maintenance <span class="indicator-date">{{ latest.year|finyear }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result %}{{ latest.result }}% {% else %} Not available {% endif %}</div>

        <div class="indicator-description">Spending on Repairs and Maintenance as a percentage of Property, Plant and Equipment.</div>
        <table class="table table-bordered indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">more than 8%</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">less than 8%</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#rep-maint-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="rep-maint-perc-ppe chart-container"></div>
      </div>
    </div>
    <div class="calc collapse" id="rep-maint-calc">
      <h5>Formula:</h5>

      <ul class="formula">
        <li>= Repairs and maintenance expenditure / (Property, Plant and Equipment + Investment Property)</li>
        <li>=
          <a href="{% table_url "repmaint" year=latest.year items=5005 amountType="ADJB" %}" target="_blank">Repairs and maintenance item code 5005, Adjusted Budget</a>
          /
          (<a href="{% table_url "bsheet" year=latest.year items=1300 amountType="ACT" %}" target="_blank">Balance Sheet item code 1300, Audited Actual</a>
          +
          <a href="{% table_url "bsheet" year=latest.year items=1401 amountType="ACT" %}" target="_blank">Balance Sheet item code 1401, Audited Actual</a>)
      </ul>
    </div>
    {% endwith %}
  </div>

  <div class="indicator">
    {% with indicators.wasteful_exp_perc_expenses|first as latest %}
    <h2>Fruitless and wastefull expenditure <span class="indicator-date">{{ latest.year|finyear }}</span></h2>

    <div class="row">
      <div class="col-sm-4">
        <div class="indicator-value rating rating-{{ latest.rating }}">{% if latest.result %}{{ latest.result }}% {% else %} Not available {% endif %}</div>
        <div class="indicator-description">Unauthorised, Irregular, Fruitless and Wasteful Expenditure as a percentage of operating expenditure.</div>
        <table class="table table-bordered indicator-key">
          <tr>
            <td class="key-symbol rating rating-good">good</td>
            <td class="key-description">0%</td>
          </tr>
          <tr>
            <td class="key-symbol rating rating-bad">bad</td>
            <td class="key-description">more than 0%</td>
          </tr>
        </table>
        <div class="show-calc"><a href="#fruitless-exp-calc" data-toggle="collapse" class="show-more"><span class="icon"><i class="fa fa-plus" aria-hidden="true"></i></span> Show Calculation</a></div>
      </div>
      <div class="col-sm-4">
        <div class="fruitless-exp chart-container"></div>
      </div>
    </div>
    <div class="calc collapse" id="fruitless-exp-calc">
      <h5>Formula:</h5>

      <ul class="formula">
        <li>= Unauthorised, Irregular, Fruitless and Wasteful Expenditure / Actual Operating Expenditure</li>
        <li>=
          <a href="{% table_url "badexp" year=latest.year items="irregular,fruitless,unauthorised" %}" target="_blank">Unauthorised, Irregular, Fruitless and Wasteful Expenditure item codes <i>irregular, fruitless, unauthorised</i></a>
          /
          <a href="{% table_url "incexp" year=latest.year items=4600 amountType="ACT" %}" target="_blank">Income & Expenditure item code 4600, Audited Actual</a>
      </ul>
    </div>
    {% endwith %}
  </div>
</div>

<div class="section" id="income">
  <h1><div class="icon icon-office-42"></div> Income</h1>
  <div class="indicator">
    <h2>Where money comes from</h2>

    <div class="row">
      <div class="col-sm-12">
        <div class="revenue-breakdown chart-container"></div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="spending">
  <h1><div class="icon icon-shopping-03"></div> Spending</h1>
    <div class="indicator">
    <h2>How money is spent</h2>

    <div class="row">
      <div class="col-sm-12">
        <div class="expenditure-breakdown chart-container"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block body_javascript_extra %}
<script src="{% static 'js/vendor/leaflet-0.6.4.js' %}"></script>
<script src="{% static 'js/vendor/topojson.v1.min.js' %}"></script>
<script src="{% static 'js/vendor/leaflet.label.js' %}"></script>
<script src="{% static 'js/head2head.js' %}"></script>
<script src="{% static 'js/maps_static.js' %}"></script>
<script src="{% static 'js/maps_mapit.js' %}"></script>
<script src="{% static 'js/profile_map.js' %}"></script>
<script src="{% static 'js/profile_map_mapit.js' %}"></script>

<script type="text/javascript">

  var profileData = {{ profile_data_json }};
  var maps = new ProfileMaps();
  maps.drawMapsForProfile(profileData.geography);

  var CASH_AT_YEAR_END = {{ indicators.cash_at_year_end|jsonify|safe }}
  var CASH_COVERAGE = {{ indicators.cash_coverage|jsonify|safe }}
  var OP_BUDGET_DIFF = {{ indicators.op_budget_diff|jsonify|safe }}
  var CAP_BUDGET_DIFF = {{ indicators.cap_budget_diff|jsonify|safe }}
  var REP_MAINT_PERC_PPE = {{ indicators.rep_maint_perc_ppe|jsonify|safe }}
  var WASTEFUL_EXP_PERC_EXP = {{ indicators.wasteful_exp_perc_exp|jsonify|safe }}
  var REVENUE_BREAKDOWN = {{ revenue_breakdown|jsonify|safe }}
  var EXPENDITURE_BREAKDOWN = {{ expenditure_breakdown|jsonify|safe }}
  var EXPENDITURE_FUNCTIONAL_BREAKDOWN = {{ expenditure_functional_breakdown|jsonify|safe }}
  var EXPENDITURE_TRENDS = {{ indicators.expenditure_trends|jsonify|safe }}

</script>

{% javascript "scorecard" %}
{% endblock %}
