{% extends 'profile/profile_detail.html' %}{% load staticfiles %}

{% block header_content %}
<div id="cover-map" class="clearfix">
    <div id="slippy-map"></div>
    <div id="cover-profile" class="wrapper">
        <article class="clearfix column-half">
            <header id="header-box" class="column-full">
                <h1 class="title">{{ geography.this.short_name }}</h1>
                <p class="caption">
                  {{ geography.this.geo_level|capfirst }}
                  in
                  {% if geography.parents %}
                      {% for level, g in geography.parents.items %}
                        <a href="/profiles/{{ g.full_geoid }}-{{ g.short_name|slugify }}/">{{ g.short_name }}</a>,
                      {% endfor %}
                  {% endif %}
                  {{ geography.this.province_name }}
                </p>
            </header>
            <div class="column-half">
                <div class="stat">
                    <span class="primary">
                        <span class="value">{{ demographics.total_population.values.this|floatformat:"0" }}</span>
                        <span class="name">Population</span>
                    </span>
                </div>
            </div>
            {% if geography.this.square_kms %}
            <div class="column-half">
                <div class="stat">
                    <span class="secondary">
                        <span class="value">{% if geography.this.square_kms < 1.0 %}{{ geography.this.square_kms|floatformat:"3" }}{% else %}{{ geography.this.square_kms|floatformat:"1" }}{% endif %}</span>
                        <span class="name"> square kilometres</span>
                    </span>
                    {% if demographics.population_density.values.this %}
                    <span class="secondary">
                        <span class="value">{{ demographics.population_density.values.this|floatformat:"1" }}</span>
                        <span class="name"> people per square kilometre</span>
                    </span>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </article>
    </div>
</div>
{% endblock %}

{% block profile_detail %}

<section>
  <h3>Cash coverage:</h3>
  <ul>
    <li>Result: {{ cash_coverage }}</li>
    <li>Formula: Cash available at year end / Operating Expenditure per month</li>
    <li>Cash flow at year end: cube: cflow; item.code: 4200</li>
    <li>Operating Expenditure: cube: incexp, item.code: 4600, amount_type.label: Audited Actual</li>
  </li>

  </ul>

  <h3>Over(under) spend of operating budget:</h3>
  <ul>
    <li>Result: {{ op_budget_diff }} %</li>
    <li>Formula: Budgeted Operating Expenditure - Actual Operating Expenditure / Budgeted Operating Expenditure</li>
    <li>Budgeted Operating Expenditure: cube: incexp; item.code: 4600; amount_type.label: Adjusted Budget</li>
    <li>Actual Operating Expenditure: cube: incexp, item.code: 4600, amount_type.label: Audited Actual</li>
  </ul>

  <h3>Over(under) spend of capital budget</h3>
  <ul>
    <li>Result: {{ cap_budget_diff }} %</li>
    <li>Formula: Formula: Budgeted Capital Expenditure - Actual Capital Expenditure / Budgeted Capital Expenditure</li>
    <li>Budgeted Capital Expenditure: cube: capital; item.code: 4100; amount_type.label: Adjusted Budget</li>
    <li>Actual Capital Expenditure: cube: capital, item.code: 4100, amount_type.label: Audited Actual</li>
  </ul>

  <h3>Repairs and maintenance as a % of Property, plant and equipment:</h3>
  <ul>
    <li>Result: {{ rep_maint_perc_ppe }} %</li>
    <li>Formula: Repairs and maintenance expenditure / Property, Plant and Equipment + Investment Property</li>
    <li>Repairs and maintenance expenditure: cube: repmaint; item.code: 5005; amount_type.label: Audited Actual</li>
    <li>Property, Plant and Equipment: cube: bsheet; item.code: 1300; amount_type.label: Audited Actual</li>
    <li>Investment Property: cube: bsheet; item.code: 1401; amount_type.label: Audited Actual</li>
  </ul>

</section>

{% endblock %}

{% block profile_javascript_libs %}
{{ block.super }}
<script src="{% static 'js/maps_mapit.js' %}"></script>
<script src="{% static 'js/profile_map_mapit.js' %}"></script>
{% endblock %}
