.tocify-wrapper {
  img.logo {
    width: 100%;
    max-width: 120px;
    margin: 10px auto;
  }

  .search.c4sa::before {
    content: "\f002";
    font-family: "fontawesome";
  }
}

.subtotal-item {
    font-weight: bold;
    border-top: 1px solid black;
}

table.items {
    max-height: 400px;
    overflow-y: scroll;
}