.tocify-wrapper {
  img.logo {
    width: 100%;
    max-width: 150px;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: white;
  }

  .search.c4sa::before {
    content: "\f002";
    font-family: "fontawesome";
  }
}

.toc-footer {
  img.logo {
    width: 100%;
    max-width: 100px;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: white;
  }
}

table.items {
    max-height: 500px;
    overflow-y: scroll;

    .heading-item {
        font-weight: bold;
        text-transform: uppercase;
        border-top: 1px solid #333;
    }

    .subtotal-item {
        font-weight: bold;
        border-top: 1px solid #ccc;
    }
}

table.dimensions {
  .dimension {
    border-top: 1px solid #ccc;

    td {
      background-color: #ddd !important;
      font-weight: bold;
    }
  }
}
