/* NB NB NB
   This MUST be compiled with the scss commandline tool and NOT pyscss
*/

@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/grid';

.container {
  width: 100%;
}

@for $i from 1 through 12 {
  @include make-grid("sm");
  @include make-grid("md");
  @include make-grid("lg");
}

nav,
input,
#slippy-map,
#menu-toggle,
a.show-more {
  display: none;
}

#cover-profile {
  margin-top: 0px;
}

a[href]:after {
  content: none;
}

.section h1,
.panel-didyouknow .panel-heading {
  letter-spacing: normal;
}

.collapse {
  display: block;
  visibility: visible;
}

.visible-print-inline {
  display: inline !important;
}
