@charset "utf-8";

// Bootstrap variable overrides

//== Colors
//
$black: #333;
$white: #fff;
$gray-darker: #333;
$gray-dark: #666;
$gray: #aaa;
$gray-light: #bbb;
$gray-lighter: #eee;
$nt-red: #ab2328;
$nt-green: #009053;
$nt-cream-dark: #d8bb83;
$red: #ed1c24;
$green: #00a651;
$yellow: #fbb03b;

$green-light: #abd8c6;

$brand-primary: $nt-red;
$brand-secondary: $nt-green;

//== Scaffolding
//
$body-bg: $white !default;
$text-color: $gray-darker !default;

//== Typography
//
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
$font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif !default;
$font-size-base: 14px !default;
$font-family-base: $font-family-sans-serif !default;
$headings-color: $gray-darker !default;
$headings-font-weight: 700 !default;

$font-size-h1: 28px;
$font-size-h2: 22px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: $font-size-base !default;
$font-size-h6: 12px;

//== Tables
$table-border-color: $gray;

//== Tabs
$nav-tabs-border-color: $gray-light !default;
$nav-tabs-link-hover-border-color: inherit !default;
$nav-tabs-active-link-hover-bg: $gray-lighter !default;
$nav-tabs-active-link-hover-color: $gray !default;
$nav-tabs-active-link-hover-border-color: inherit !default;

//== Forms
$input-border-focus: $brand-primary;

//######

// Import Bootstrap SCSS
@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';

//######

// Custom CSS

//== Scaffolding
body {
  position: relative;
}

//== Headings
h1 {
  margin-bottom: 20px;
}
.title {
  color: $brand-secondary;
}

//== Links
a {
  text-decoration: underline;
}

//== Columns
//
.column-full {
  width: 100%;
  margin: 0;
}
.column-half {
  width: 50%;
  margin: 0;
}

//== Map
//
#cover-map {
  position: relative;
  margin: 0px;
  height: 200px;
  border-bottom: solid 1px $gray-dark;
}
#slippy-map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

//== Header
//
#page-header-title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .header-buttons {
    float: right;
  }
  .fa-twitter {
    margin-right: 5px;
  }
  .title {
    font-weight: bold;
  }
  .title:hover {
    text-decoration: none;
  }

  a {
    color: $white;
  }

  a.title {
    font-size: $font-size-h2;
  }
}

#menu {
  float: right;
  margin: .2em 0 0 5px;
  padding: 0;
}

#menu input {
  font-size: .83em;
  border: 0;
  margin-left: 0;
  padding: 2px 6px 0;
  height: 2em;
  line-height: 2em;
  border-radius: 4px;
}

#menu input,
#menu .tt-dropdown-menu {
  width: 240px;
}

#menu-toggle {
    float: right;
    font-size: 18px;
    margin-top: 2px;
    color: $white;
    line-height: 1;
    padding: .25em .33em .2em;
    background-color: $brand-primary;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
#menu-toggle.fa:before {
    cursor: pointer;
}

//== Header box
//
#cover-profile {
  position: relative;
  margin: 0px auto;

  // mimic .container sizes
  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
  }

  article {
    margin-top: 30px;
    border: solid $black 1px;
    border-radius: 0;
    padding: 0;
    line-height: 1;
    color: $gray-darker;
    background-color: $white;
    float: left;
    width: 50%;
  }

  .caption {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  h1.title {
    font-size: 2.5em;
    margin: 0px;
  }

  #header-box {
    padding: 5px 10px 10px 10px;
    border-bottom: dotted 1px $gray-light;
    margin-bottom: 10px;
  }

  #header-box .title {
    margin: 0;
  }

  #header-box .caption {
    font-size: 14px;
  }

  .stat {
    color: $gray-darker;
    font-weight: bold;
  }

  .stat-primary {
    width: 30%;
    float: left;
    margin: 0 0 10px 0;
    text-align: center;
    padding: 0 5px;
    .name {
      display: block;
      text-transform: uppercase;
    }
    .value {
      font-size: 24px;
    }
  }
  .stat-secondary {
    width: 70%;
    float: left;
    margin-bottom: 6px;
    padding: 0 5px;
    .name {
      font-weight: normal;
    }
  }

}

@media only screen and (max-width: 768px) {
  #cover-map {
    height: auto;
  }
  #cover-map #slippy-map {
    height: 200px;
  }
  #cover-profile {
    margin: 200px 1em 0;
    text-align: center;
  }
  #cover-profile article {
    background-color: inherit;
    border: none;
    width: 100%;
    float: none;
    padding: 1em .25em;
    margin-top: 0;
    margin-bottom: 0;
  }
  #cover-profile #header-box {
    padding-top: 0;
  }
  #cover-profile .stat-primary .name {
    display: inline;
    text-transform: none;
    font-weight: normal;
  }
  #cover-profile .stat-primary .value {
    font-size: $font-size-base;
  }
  #cover-profile .stat-primary {
    font-size: inherit;
  }
  #cover-profile .stat-primary, #cover-profile .stat-secondary {
    float: none;
    display: inline;
    margin: 5px;
    padding: 5px;
    font-size: $font-size-base;
  }
}

@media only screen and (max-width: 480px) {
  #cover-profile .stat-primary, #cover-profile .stat-secondary {
    float: none;
    display: block;
    width: auto;
    padding: 0;
  }
}

//= Page header
#page-header {
  background: $gray;
  border-bottom: solid 1px $gray-dark;
}

@media only screen and (max-width: 640px) {
  #menu-toggle {
    display: block;
  }
  #menu {
    float: none;
    display: block;
    padding: 1em 0 .67em;
    display: none;
  }
  #menu input {
    margin-left: 0;
  }
  #menu input,
  #menu .tt-dropdown-menu {
    width: 100%;
  }
}

//= Page nav
//
.page-nav-container {
  width: 100%;
  background-color: $brand-secondary;
  max-height: 100px;
  line-height: 1;
  transition: all 0.5s ease;
  .page-nav-info {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  .page-nav-info .muni-name, .page-nav-info .muni-population {
    padding-top: 5px;
  }
  .page-nav-info .muni-name {
    display: inline-block;
    color: $white;
    font-size: 22px;
    font-weight: 900;
    margin-right: 5px;
    opacity: 0;
    transition: all 1s ease;
    transition-delay: 0.3s;
  }
  .page-nav-info .muni-population {
    display: inline-block;
    font-size: $font-size-h6;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 1s ease;
    transition-delay: 0.3s;
  }
  #page-nav a {
    color: rgba(255,255,255,0.5);
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 8px 20px;
  }
  #page-nav a:hover, #page-nav a:active, #page-nav a:visited, #page-nav a:focus {
    background: transparent;
  }
  #page-nav a:hover {
    color: $white;
  }
  #page-nav li {
    margin-bottom: 3px;
  }
  #page-nav li.active {
    border-bottom: solid 3px $brand-primary;
    margin-bottom: 0;
  }
  #page-nav li.active a {
    background: transparent;
    color: $white;
  }
  #page-nav li.active a .nav-text {
    text-shadow: 0 0 1px rgba(255,255,255,0.5);
  }
  #page-nav .icon {
    font-size: 28px;
  }
}

.page-nav-container.affix {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

.page-nav-wrapper {
  transition: all 0.5s ease;
  height: 68px;
}

.page-nav-wrapper.expanded {
  height: 120px;
  .page-nav-info {
    max-height: 50px;
  }
  .page-nav-info .muni-name, .page-nav-info .muni-population {
    opacity: 1;
  }
  .
  .page-nav-container {
    max-height: 140px;
  }
}

@media only screen and (max-width: 768px) {
  .page-nav-container {
    text-align: center;
  }
  .page-nav-container ul {
    display: inline-block;
    width: auto;
  }
  .page-nav-container .nav li {
    width: auto;
  }
  .page-nav-container .nav li a {
    padding: 12px 24px;
  }
  .page-nav-container .nav li .nav-text {
    font-size: 10px;
    letter-spacing: 0;
  }
}

@media only screen and (max-width: 480px) {
  .page-nav-container .nav li a {
    padding: 12px 12px;
  }
  .page-nav-info .muni-name, .page-nav-info .muni-population {
    display: block;
  }
  .page-nav-container .nav li .nav-text {
    display: none;
  }
}

//= Sections
//
.section {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid $gray-light;

  /*trick to compensate for affixed page-nav */
  padding-top: 100px;
  margin-top: -80px;

  &:last-child {
    border-bottom: none;
  }

  h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
    margin: 0 0 10px 0;
  }
  h1 .icon {
    color: $brand-secondary;
    display: inline-block;
    font-size: 36px;
    vertical-align: middle;
    margin-bottom: 1px;
  }
  h2 {
    margin: 0 0 10px 0;
  }

}

@media only screen and (max-width: 768px) {
  .section h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .section h1 .icon {
    display: block;
  }
}

//= #about
#about {
  padding: 10px 0;
  background-color: $gray-lighter;
}

//= Person info
.person-info {
  margin-bottom: 15px;
  .person-role {
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: $brand-secondary;
  }
  .person-name {
    padding: 3px 0;
  }
  .fa-ul {
    margin-left: 20px;
    margin-bottom: 0px;
  }
  .person-contact-details a.show-contact-details {
    padding: 3px 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    .icon { margin-right: 5px; }
    &:hover { text-decoration: none; }
  }
  .person-contact-details .contact-details {
    h4 { margin-bottom: 0; }
  }
}

//= Tables
//
.table-bordered {
  border: solid 2px $gray-dark;

  tr th {
    background-color: transparent;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: uppercase;
    color: $brand-secondary;
  }

  .table-footer td, .table-footer:hover td, tr:hover th {
    text-align: center;
    background-color: $gray-lighter;
  }

  .table-footer:hover td {
    background-color: $gray-lighter;
  }

  tr:hover td, tr:hover th {
    background-color: inherit;
  }

}

//= More
//
.more {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background: url('/static/img/dot-pattern.gif');
  background-repeat: repeat-x;
  background-position: center;
  .icon {
    margin-right: 5px;
  }
  a {
    text-decoration: none;
    padding: 0 10px;
    background-color: $body-bg;
  }
  a:hover {
    text-decoration: none;
  }
}

//= Show calculation
//
.show-calc {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  .icon {
    margin-right: 5px;
  }
  a {
    text-decoration: none;
    background-color: $body-bg;
  }
  a:hover {
    text-decoration: none;
  }
}

//=DidYouKnow Panel
//
.panel-didyouknow {
  border: solid 1px $gray-lighter !important;
  .panel-heading {
    text-transform: uppercase;
    color: $black;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 900;
  }
  .panel-heading i {
    margin-right: 5px;
  }
  .panel-body {
    padding-top: 0;
    font-size: 13px;
  }
}

//= Indicator
//
.indicator {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px dotted $gray-light;

  &:last-child {
    border-bottom-width: 0px;
  }

  h2 {
    margin: 0px 0px 5px;
  }

  .panel {
    margin-bottom: 0px;
  }

  .indicator-value {
    font-size: 28px;
    font-weight: bold;
  }
  .indicator-value i {
    text-align: center;
  }
  .indicator-date {
    font-size: 16px;
  }
  .indicator-description {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .indicator-average {
    display: inline-block;
    border: dotted 1px $gray;
    color: $gray-dark;
    font-size: 12px;
    padding: 5px;
    width: auto;
  }
  table.indicator-key {
    width: auto;
    margin-top: 5px;
    margin-bottom: 10px;

    td, th {
      padding: 5px;
    }
  }
  .key-symbol {
    font-weight: bold;
  }
  .key-symbol i {
    width: 20px;
    text-align: center;
  }
  .indicator-bad { color: $red; }
  .indicator-good { color: $green; }
  .indicator-ave { color: $yellow; }
}

//= Page footer
#page-footer {
  background-color: $gray-lighter;
  border-top: 1px solid $gray-light;
  padding: 1.5em 0 2em;
  margin-top: 10px;
  ul {
    margin: 0;
  }

  img.logo {
    width: auto;
    height: 75px;
    margin-bottom: 20px;
  }
}

//= Home page
#homepage {
  #page-header {
    border-bottom: 0;
  }
  #homepage-search {
    background-color: $gray-lighter;
    padding: 40px 0;
  }
  #homepage-search h1 {
    margin: 0 0 20px 0;
  }
  #homepage-search .search-container {
    margin-bottom: 10px;
  }
  #homepage-search-input {
    font-size: 1.6em;
    height: 2.2em;
    padding: 0.5em;
    line-height: 1;
  }
  #homepage-search .geolocate-container {

  }
  #homepage-search .geolocate-container .or {
    display: inline-block;
    width: 10%;
    float: left;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    padding: 2px 0 0 10px;
  }
  #homepage-button-geolocate {
    width: 90%;
    float: left;
    font-size: 16px;
    i { margin-right: 10px; }
  }
  #homepage-map {
    border-top: solid 1px $gray-dark;
  }
}

//= Helper Classes
//
.text-large {
  font-size: 150%;
}
.cell-min {
  width: 1%;
}

//= Twitter typeahead
.tt-hint {
  visibility: hidden;
}

.tt-dropdown-menu {
  min-width: 160px;
  width: 100%;
  margin-top: 2px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-radius: 4px;
  height: 320px;
  overflow-y: auto;
}
.tt-dropdown-menu h2 {
  font-size: 1.2em;
  padding: .83em;
  margin-bottom: 0;
  background-color: #014948;
  color: #fff;
}
.tt-suggestion {
  display: block;
  padding: 1.25em .83em .83em;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: $brand-secondary;
  cursor: pointer;
}

.tt-suggestion h5,
.tt-suggestion p {
  line-height: 1.5;
  margin: 0 0 .5em;
  font-size: 1em;
}

.twitter-typeahead,
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  width: 100%;
}

.tt-dataset-always .result-name {
  font-size: .83em;
}

.tt-suggestion {
  .result-name .result-type {
    float: right;
    margin: .17em .33em 0 1em;
    font-size: .83em;
    font-style: italic;
  }
}

// Charts

.chart-container {
  font-size: 12px;

  rect.good {
    fill: $green;
  }

  rect.ave {
    fill: $yellow;
  }

  rect.bad {
    fill: $red;
  }

  rect.current {
    stroke: $black;
    stroke-width: 1;
  }

  text.current {
    font-weight: bold;
  }

  .x.axis .tick:first-child {
    font-weight: bold;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: none;
  }

  .axis.zero path {
  	stroke: $black;
  	shape-rendering: crispEdges;
  }
}

#homepage #slippy-map {
  display: none;
}

@media only screen and (min-width: 768px) {
    #homepage #slippy-map {
        display: block;
        width: 100%;
        height: 35em;
        position: relative;
    }
}
