@charset "utf-8";

// Bootstrap variable overrides

//== Colors
//
$black: #000;
$white: #fff;
$gray-darker: #333;
$gray-dark: #666;
$gray: #aaa;
$gray-light: #bbb;
$gray-lighter: #eee;
$nt-red: #ab2328;
$nt-green: #009053;
$nt-cream-dark: #d8bb83;
$red: #ed1c24;
$green: #00a651;

$brand-primary: $nt-red;
$brand-secondary: $nt-green;

//== Scaffolding
//
$body-bg: $white !default;
$text-color: $gray-darker !default;

//== Typography
//
@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700);
$font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif !default;
$font-size-base: 15px !default;
$font-family-base: $font-family-sans-serif !default;
$headings-color: $black !default;
$headings-font-weight: 700 !default;

$font-size-h1: 28px;
$font-size-h2: 22px;
$font-size-h3: 18px;
$font-size-h4: 16px;
$font-size-h5: $font-size-base !default;
$font-size-h6: 12px;

//== Tables
$table-border-color: $gray;

//== Tabs
$nav-tabs-border-color: $gray-light !default;
$nav-tabs-link-hover-border-color: inherit !default;
$nav-tabs-active-link-hover-bg: $gray-lighter !default;
$nav-tabs-active-link-hover-color: $gray !default;
$nav-tabs-active-link-hover-border-color: inherit !default;

//######

// Import Bootstrap SCSS
@import 'bootstrap-sass/assets/stylesheets/_bootstrap.scss';

//######

// Custom CSS

//== Headings
h1 {
  margin-bottom: 20px;
}
.title {
  color: $brand-secondary;
}

//== Links
a {
  text-decoration: underline;
}

//== Columns
//
.column-full {
	width: 100%;
	margin: 0;
}
.column-half {
	width: 50%;
	margin: 0;
}

//== Map
//
#cover-map {
  position: relative;
  margin: 0px;
  height: auto;
  border-bottom: solid 1px $gray-dark;
}
#slippy-map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

//== Header
//
#page-header-title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .header-buttons {
    float: right;
  }
  .fa-twitter {
    margin-right: 5px;
  }
  .title img {
    margin-right: 3px;
    vertical-align: bottom;
    height: 25px;
  }

  a {
    color: $white;
  }

  a.title {
    font-size: $font-size-h2;
  }
}

#menu {
  float: right;
  margin: .2em 0 0 5px;
  padding: 0;
}

#menu input {
  font-size: .83em;
  border: 0;
  margin-left: 0;
  padding: 2px 6px 0;
  height: 2em;
  line-height: 2em;
  border-radius: 4px;
}

#menu input,
#menu .tt-dropdown-menu {
  width: 240px;
}

#menu-toggle {
    float: right;
    font-size: 18px;
    margin-top: 2px;
    color: $white;
    line-height: 1;
    padding: .25em .33em .2em;
    background-color: $brand-primary;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
#menu-toggle.fa:before {
    cursor: pointer;
}

//== Header box
//
#cover-profile {
	position: relative;

	article {
		margin-top: 3em;
		margin-bottom: 3em;
		border: solid 2px $black;
		border-radius: 0;
		padding: 0;
		line-height: 1;
		color: $gray-darker;
		background-color: $white;
	}

	#header-box {
		padding: 5px 10px 10px 10px;
		border-bottom: solid $gray-light 1px;
	}

	#header-box .title {
		margin: 0;
	}

	#header-box .caption {
		font-size: 14px;
		margin-bottom: 0;
	}

	.stat {
		overflow: auto;
		color: $gray-darker;
		font-weight: bold;
	}

	.stat-primary {
		height: 60px;
		width: 20%;
		float: left;
		margin: 0;
		padding: 10px 10px 5px 10px;
		border-right: solid $gray-light 1px;
		text-align: center;
		.name {
			display: block;
			text-transform: uppercase;
		}
		.value {
			font-size: 24px;
		}
	}
	.stat-secondary {
		height: 30px;
		width: 80%;
		float: left;
		padding: 7px 5px 0 5px;
		border-bottom: solid $gray-light 1px;
		&:last-child {
			border-bottom: 0;
		}
	}

}

@media only screen and (max-width: 768px) {
    #cover-map #slippy-map {
        height: 200px;
    }
    #cover-profile {
        margin: 200px 1em 0;
    }
    #cover-profile article {
        background-color: inherit;
        border: none;
        width: 100%;
        padding: 1em .25em;
        margin-top: 0;
    }
} 

//= Page header
#page-header {
  background: $brand-primary;
  border-bottom: solid 1px $gray-dark;
}

@media only screen and (max-width: 640px) {
  #menu-toggle {
    display: block;
  }
  #menu {
    float: none;
    display: block;
    padding: 1em 0 .67em;
    display: none;
  }
  #menu input {
    margin-left: 0;
  }
  #menu input,
  #menu .tt-dropdown-menu {
    width: 100%;
  }
}

//= Page nav
//
.page-nav {
  width: 100%;
	background-color: $nt-cream-dark;
	margin-bottom: 10px;
  border-bottom: solid 1px $gray-dark;
  h1.title {
    color: $gray-dark;
    margin: 5px 0;
    display: none;
  }
	.nav {
		margin-top: 10px;
		border-bottom: 0;
	}
	.nav li {
		border-bottom: solid 1px $gray-dark;
		margin: 0;
		text-align: center;
		line-height: 1;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 12px;
		width: 140px;
    margin-bottom: -1px;
	}
	.nav li a .icon {
		font-size: 24px;
		padding: 0;
		margin: 0;
		line-height: 1;
	}
	.nav li a {
		background-color: $gray-lighter;
		color: $gray-dark;
		margin-bottom: 5px;
		-webkit-box-shadow: 0px 5px 0px 0px $gray;
		-moz-box-shadow: 0px 5px 0px 0px  $gray;
		box-shadow: 0px 5px 0px 0px $gray;
		margin-right: 0;
		border-radius: 0;
		padding: 3px;
		border-right: solid 1px $gray;
    text-decoration: none;
	}
	.nav li a:hover {
		color: $black;
		.icon {
			color: $brand-secondary;
		}
	}
	.nav li:first-child a {
		border-radius: 5px 0 0 0;
	}
	.nav li:last-child a {
		border-radius: 0 5px 0 0;
		border-right: none;
	}

	.nav li.active {
		border-bottom: 0;
		a {
			color: $black;
		}
		.icon {
			color: $brand-secondary;
		}
	}

	.nav li.active a {
		margin-top: 7px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		margin-bottom: 0;
		border-bottom: none;
		background-color: $white;
	}
}

.page-nav-wrapper {
  min-height: 68px;
}

.affix {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  z-index: 100;
}

.affix + .container {
  padding-top: 68px;
}

//= Sections
//
.section {
	border-bottom: solid 1px $gray;
	&:last-child {
		border-top: none;
	}
	h1 {
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 24px;
	}
}

//= Tables
//
.table-bordered {
	border: solid 2px $gray-dark;

	tr th {
		background-color: transparent;
		text-align: center;
		letter-spacing: 1px;
		font-weight: 900;
		text-transform: uppercase;
		color: $brand-secondary;
	}

	.table-footer td, .table-footer:hover td, tr:hover th {
		text-align: center;
		background-color: $gray-lighter;
	}

	.table-footer:hover td {
		background-color: $gray-lighter;
	}

	tr:hover td, tr:hover th {
		background-color: inherit;
	}

}

//= More
//
.more {
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	background: url('/static/img/dot-pattern.gif');
	background-repeat: repeat-x;
	background-position: center;
	.icon {
		margin-right: 5px;
	}
	a {
    text-decoration: none;
		padding: 0 10px;
		background-color: $body-bg;
	}
	a:hover {
		text-decoration: none;
	}
}

//=DidYouKnow Panel
//
.panel-didyouknow {
	background-color: $gray-lighter;
	.panel-heading {
		text-transform: uppercase;
		color: $black;
		letter-spacing: 2px;
		font-size: 12px;
		font-weight: 900;
	}
	.panel-heading i {
		margin-right: 5px;
	}
	.panel-body {
		padding-top: 0;
		font-size: 13px;
	}
	.more a{
		background-color: $gray-lighter;
	}
}

//= Indicator
//
.indicator {
  .indicator-value {
    font-size: 28px;
    font-weight: bold;
  }
  .indicator-value i {
    text-align: center;
  }
  .indicator-description {
    margin-bottom: 5px;
    font-weight: bold;
  }
  .indicator-average {
    display: inline-block;
    border: dotted 1px $gray;
    color: $gray-dark;
    font-size: 12px;
    padding: 5px;
    width: auto;
  }
	table.indicator-key {
		width: auto;
    margin-top: 5px;
	}
	.key-symbol {
		font-weight: bold;
	}
	.key-symbol i {
		width: 20px;
    text-align: center;
	}
  .indicator-bad { color: $red; }
  .indicator-good { color: $green; }
}

//= Helper Classes
//
.separator-right {
	border-right: solid 1px $gray-light;
}
.text-large {
	font-size: 150%;
}
.cell-min {
	width: 1%;
}

//= Twitter typeahead
.tt-hint {
  visibility: hidden;
}

.tt-dropdown-menu {
  min-width: 160px;
  width: 100%;
  margin-top: 2px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-radius: 4px;
  height: 320px;
  overflow-y: auto;
}
.tt-dropdown-menu h2 {
  font-size: 1.2em;
  padding: .83em;
  margin-bottom: 0;
  background-color: #014948;
  color: #fff;
}
.tt-suggestion {
  display: block;
  padding: 1.25em .83em .83em;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #027b7a;
  cursor: pointer;
}

.tt-suggestion h5,
.tt-suggestion p {
  line-height: 1.5;
  margin: 0 0 .5em;
  font-size: 1em;
}

.twitter-typeahead,
.twitter-typeahead .tt-query, 
.twitter-typeahead .tt-hint {
    width: 100%;
}

.tt-dataset-always .result-name {
    font-size: .83em;
}

.tt-suggestion {
  .result-name .result-type {
      float: right;
      margin: .17em .33em 0 1em;
      font-size: .83em;
      font-style: italic;
  }
}

