/* national treasury colours */
$nt-red: #AB2328;
$nt-gold: #E6A65D;

#header {
  height: 40px;
  width: 100%;
  background-color: $nt-red;
}

.jumbotron {
  .logo {
    height: 80px;
    padding: 5px;
    background: white;
  }
}

#footer {
  margin-top: 40px;
  border-top: 1px solid #ddd;
  background-color: #efefef;
  padding: 40px 0px;

  img.logo {
    width: auto;
    height: 75px;
    margin-bottom: 20px;
  }
}
