/* national treasury colours */
$nt-red: #AB2328;
$nt-gold: #E6A65D;
$black: #333;

#header {
  height: 40px;
  width: 100%;
  background-color: $nt-red;
  padding: 2px 0px;

  h1 {
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    color: white;
  }

  a,
  a:hover,
  a:active {
    text-decoration: none;
    color: white;
  }
}

.site-notice {
  padding: 10px 15px 1px;
}

.jumbotron {
  .logo {
    height: 80px;
  }
}

#footer {
  margin-top: 40px;
  border-top: 1px solid #ddd;
  background-color: #efefef;
  padding: 40px 0px;

  img.logo {
    width: auto;
    height: 75px;
    margin-bottom: 20px;
  }
}

.dataset-buttons {
  .dataset {
    display: inline-block;
    float: left;
    width: 23%;

    border: 1px solid $nt-red;
    border-radius: 5px;
    margin: 0px 10px 10px 0px;
    padding: 10px 10px;

    color: $black;
    background-color: white;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }

    h4 {
      margin: -10px -10px 10px;
      padding: 10px 10px 10px;
      border-bottom: 1px solid #ddd;
    }

    &:hover h4 {
      background-color: $nt-red;
      color: white;
    }

    &:hover {
      border-color: $nt-red;
    }

    p:last-child {
      margin-bottom: 0px;
    }
  }
}

#home {
  article section {
    padding: 20px 0px;
  }

  section.band-dark {
    background-color: #efefef;

  }

  section.extras {
    h3:first-child {
      margin-top: 0px;
    }
  }

}

.video-chooser .video-choices {
  margin-top: 5px;
}

.accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e113";
  float: right;
  margin-top: -27px;
  color: grey;
}
.accordion-toggle.collapsed:after {
  content: "\e114";
}
.carrot:after {
  content: "\e114";
}
.float-right {
  margin-left: 5px;
  float: right;
}
.group {
  margin-bottom: 8px;
}
.group a {
  color: #333333;
  text-decoration: none;
}
.group-header {
  background-color: #ffffff;
  padding: 6px 15px;
  border-radius: 5px;
  margin-bottom: 8px;
}
.cube-list {
  background-color: #efefef;
}
.cube {
  color: #ffffff;
  background-color: #333333;
  border: 8px solid transparent;
  border-radius: 5px;
  padding: 0px 0px 0px 7px;
  margin-bottom: 5px;
  margin-left: 15px;
}
.pill {
  background-color: #525252;
  display: inline-block;
  padding: 6px 15px;
  margin-bottom: 2px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.pill-right {
  float: right;
}
.pill-light {
  background-color: #f2f2f2;
}
.pill-dark {
  background-color: #3d3d3d;
}
.pill a {
  color: #f2f2f2;
}
.pill span {
  vertical-align: middle;
  color: #f2f2f2;
}