/* national treasury colours */
$nt-red: #AB2328;
$nt-gold: #E6A65D;
$black: #333;

#header {
  height: 40px;
  width: 100%;
  background-color: $nt-red;
  padding: 2px 0px;

  h1 {
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    color: white;
  }

  a,
  a:hover,
  a:active {
    text-decoration: none;
    color: white;
  }
}

.jumbotron {
  .logo {
    height: 80px;
  }
}

#footer {
  margin-top: 40px;
  border-top: 1px solid #ddd;
  background-color: #efefef;
  padding: 40px 0px;

  img.logo {
    width: auto;
    height: 75px;
    margin-bottom: 20px;
  }
}

.dataset-buttons {
  .dataset {
    display: inline-block;
    float: left;
    width: 23%;

    border: 1px solid $nt-red;
    border-radius: 5px;
    margin: 0px 10px 10px 0px;
    padding: 10px 10px;

    color: $black;
    background-color: white;

    &:active,
    &:focus,
    &:hover {
      text-decoration: none;
    }

    h4 {
      margin: -10px -10px 10px;
      padding: 10px 10px 10px;
      border-bottom: 1px solid #ddd;
    }

    &:hover h4 {
      background-color: $nt-red;
      color: white;
    }

    &:hover {
      border-color: $nt-red;
    }

    p:last-child {
      margin-bottom: 0px;
    }
  }
}

#home {
  article section {
    padding: 20px 0px;
  }

  section.band-dark {
    background-color: #efefef;

  }

  section.extras {
    h3:first-child {
      margin-top: 0px;
    }
  }

}

.video-chooser .video-choices {
  margin-top: 5px;
}
