/* national treasury colours */
$nt-red: #AB2328;
$nt-gold: #E6A65D;

$controls-width: 250px;
$row-heading-width: 300px;
$header-bg: #ddd;

.table-page {
  background-color: #efefef;
}

h1 {
  font-size: 20px;
  color: $nt-red;
}

h2 {
  font-size: 20px;
  color: $nt-red;
}

h3 {
  font-size: 16px;
}

h4, h5 {
  font-size: 14px;
  font-weight: bold;
}

label {
  cursor: pointer;
  font-weight: normal;
}

.select2-results {
  font-size: 12px;
}

#header {
  padding: 5px 0px;
  background-color: $nt-red;
  color: white;

  h1 {
    margin: 5px 0px 0px 140px;
    font-size: 20px;
    color: white;

    a {
      color: white;
    }
  }

  .logo {
    position: absolute;
    height: 53px;
    width: 132px;
    padding: 5px;
    margin-right: 10px;
    background: white;
    top: 0px;
  }

  ul {
    li {
      float: left;
      margin-left: 10px;
    }

    li.text {
      padding: 7px 0px 0px 0px;
      a {
        color: white;
        text-decoration: underline;
      }
    }
  }
}

#spinner {
  height: 8px;
  margin-top: 5px;
  width: 100%;
  display: none;
}

.article-header {
  background-color: $header-bg;
  margin: 0px -15px;
  padding: 15px 15px 15px;

  h2 {
    margin: 0px;
  }

  aside {
    float: right;
  }

  .note {
    position: fixed;
    left: $controls-width + 25px;
    right: 0px;
    top: 80px;
    font-size: 12px;
  }
}

.table-controls {
  position: fixed;
  width: $controls-width + 15px;

  top: 100px;
  left: 0px;
  bottom: 0px;
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 10px;

  font-size: 13px;

  select {
    width: 100%;
  }

  header {
    margin: 0px -10px 0px -15px;
    background-color: $header-bg;
    padding: 5px 15px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }

  section {
    margin-bottom: 20px;
  }

  .amount-type {
    display: none;
  }

  .functions {
    display: none;
  }

  .chosen-munis {
    margin-top: 5px;
    max-height: 250px;
    overflow-y: scroll;
  }

  .clear-munis {
    margin-top: 5px;
    display: none;
  }

  .year-chooser {
    li {
      float: left;
      width: 50%;
    }
    label {
      margin-bottom: 2px;
    }
  }
}

.table-display {
  position: fixed;
  top: 100px;
  bottom: 0px;
  left: $controls-width + 15px;
  right: 0px;
  overflow: auto;
  font-size: 12px;

  background-color: white;
  padding: 10px;
  border-top: 1px solid #ccc;

  td, th {
    padding: 2px;
    white-space: nowrap;
  }

  .item-heading td {
    font-weight: bold;
    text-transform: uppercase;
  }
  .item-subtotal td {
    font-weight: bold;
  }

  .row-headings {
    width: $row-heading-width;
    float: left;

    th.spacer {
      border-bottom: 1px solid white;
    }

    td {
      max-width: $row-heading-width;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .table-scroll-area {
    overflow: auto;

    table {
      float: left;
    }
  }

  .values {
    th {
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid #ccc;
      border-right: 5px solid white;
    }

    tr:first-child th {
      background-color: $nt-red;
      color: white;
      border-bottom-color: #7f1a1d;
    }

    tr:nth-child(2) th {
      background-color: #efefef;
    }

    td {
      text-align: right;
      padding-left: 10px;
    }
  }

  tr.hover td,
  tr.toggled td {
    background-color: gold;
  }
}

.select2-results__option i {
  float: right;
}

// prevent boxes from getting in the way
.article-header .downloads {
  z-index: 10;
}
