
.chart-tooltip {
    visibility: hidden;
}

/* bar chart bars */
.vertical-bar_wrapper .bar.cc-vertical {
    height: 10%;
}

/* number of projects and total value */
.search-detail__amount {
    display: none;
}

.search-detail-amount--placeholder {
    display: block;
}

.small-detail-heading {
    display: flex;
}

#num-matching-projects-field {
    display: none;
}

.search-detail-value--placeholder {
    display: block;
}
