<div class="modal fade" tabindex="-1" role="dialog" id="terms-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please Read and Accept the Terms of Use</h4>
      </div>
      <div class="modal-body">
        <p>As part of its commitment to good governance, National Treasury (NT) is making available the extensive municipal financial data it has been collecting since 2003/4.</p>
        <p>Users are encouraged to utilise this data to leverage public participation in governance, create value for developers, business, researchers and others.</p>
        <p>Subject to certain limitations, you are free to use the data on this website and published through our APIs (Application Programming Interface) freely and flexibly, for both commercial and non-commercial purposes, at no cost.
        <p><a href="/terms">Read the full Terms of Use</a></p>
      </div>
      <div class="modal-footer">
        <a href="/terms" target="_blank" class="btn btn-primary pull-left">Read the Terms of Use</a>
        <button type="button" class="btn btn-default decline">Decline</button>
        <button type="button" class="btn btn-primary accept">Accept Terms of Use</button>
      </div>
    </div>
  </div>
</div>
