{% extends "layout.html" %}
{% load pipeline %}
{% load lookup %}
{% load staticfiles %}

{% block title %}Municipal Finance API Documentation{% endblock %}

{% block head-css %}
{% stylesheet "docs" %}
{% endblock %}

{% block content %}

<a href="#" id="nav-button">
  <span>NAV <img src="{% static 'slate/images/navbar.png' %}" /></span>
</a>
<div class="tocify-wrapper">
  <img src="{% static 'images/treasury-logo.png' %}" class="logo" />
  <div class="lang-selector">
    <a href="#" data-language-name="json">JSON</a>
  </div>
  <div class="search c4sa">
    <input type="text" class="search" id="input-search" placeholder="Search">
  </div>
  <ul class="search-results"></ul>
  <div id="toc"></div>

  <ul class="toc-footer">
    <li>Contribute on <a href="https://github.com/Code4SA/municipal-data" target="_blank">GitHub</a></li>
    <li>Built by <a href="http://code4sa.org" target="_blank">Code for South Africa</a></li>
    <li><a href="http://code4sa.org" target="_blank"><img src="{% static 'images/code4sa-logo.png' %}" class="logo"></a></li>
  </ul>
</div>

<div class="page-wrapper">
  <div class="content">
    <h1 id="intro">Municipal Money API Documentation</h1>
    {% for notice in site_notices %}<div class="site-notice">{{ notice.content | safe }}</div>{% endfor %}
    <aside class="info">
      Usage of this data is subject to the <b><a href="/terms">Terms of Use</a></b>
    </aside>

    <p>The Municipal Money API publishes the financial information of South African municipalities in a machine-friendly format.</p>

    <p>All municipalities must regularly submit financial information to <a href="http://www.treasury.gov.za/">National Treasury</a> who, in partnership with
      <a href="http://code4sa.org">Code for South Africa</a>, make it available to the public through this API.</p>

    <aside class="info">
      The API endpoint is at <a href="https://municipaldata.treasury.gov.za/api">https://municipaldata.treasury.gov.za/api</a>
    </aside>

    <h2 id="what-data">What data is available</h2>

    <p>The financial data is very similar to that made available on <a href="http://mfma.treasury.gov.za/Media_Releases/s71/Pages/default.aspx">National Treasury’s website in PDF reports and Excel spreadsheets</a> and generally called Section 71 information. It is described further below and includes:</p>

    <ul>
      {% for cube in cubes|dictsort:"name" %}
        <li><a href="#cube-{{ cube.name }}">{{ cube.model.label }}</a></li>
      {% endfor %}
    </ul>

    <p>The data is available for all metro, district and local municipalities.</p>

    <aside class="info">
      Please note that the data is only as complete and trustworthy as that provided by the municipality.
    </aside>

    <h3 id="where-from">Where is the data from?</h3>

    <p>The data is composed of the Section 71 (<a href="http://mfma.treasury.gov.za/Legislation/lgmfma/Pages/default.aspx">of the Municipal Financial Management Act</a>) submissions from municipalities to the Treasury's Local Government database. These are regular submissions from the municipality, signed off by the Municipal Manager as accurate, to National Treasury.</p>

    <p>
      <a href="{% static 'images/pre-post-mscoa-data-provenance.png' %}"><img src="{% static 'images/pre-post-mscoa-data-provenance.png' %}" alt="Graphic depicting the data flow from municipalities, into National Treasury's Local government Database, and to Municipal Money as quarterly snapshots"></a>
    </p>

    <h4>Since mSCOA</h4>

    <p>Since the 2019-20 financial year, the <a href="http://mfma.treasury.gov.za/RegulationsandGazettes/MunicipalRegulationsOnAStandardChartOfAccountsFinal/Pages/default.aspx">municipal Standard Chart of Accounts (mSCOA)</a> has been the specification for how financial management data must be submitted by municipalities to National Treasury. This includes the requirement that submissions are automated via an integration between the municipalities' accounting systems and National Treasury's Local Government Database.</p>

    <h4>Before mSCOA</h4>

    <p>Up to the 2019-2020 financial year, these submissions took the shape of return forms in <a href="http://mfma.treasury.gov.za/Return_Forms/Pages/default.aspx">Excel Spreadsheets provided by Treasury</a> to help municipalities validate the data and supply it in a consistent format. It can be helpful to look at the forms to understand the data better.</p>

    <h4>Snapshots from the Local Government Database in Municipal Money</h4>

    <p>Municipal Money is updated from quarterly snapshots of the Local Government Database following a number of checks of the data by National Treasury.</p>

    <h4>Audits by the auditor general</h4>

    <p>The data where Amount Type is Audited Actual are audit outcome figures audited by the Auditor General and submitted by the municipality to the Local Government database. National Treasury does extensive verification to ensure that the audit outcomes submitted to the database matches the audited Annual Financial Statements as issued by the Auditor General. See also the Audit Report for the Auditor General's comments on the accuracy of the reporting by the municipality.</p>

    <h3 id="verification">How can I be sure I am getting the right results from the API?</h3>

    <p>The treasury publishes <a href="http://mfma.treasury.gov.za/Media_Releases/s71/Pages/default.aspx">quarterly reports based on the municipalities' Section 71 submissions</a> as well as well as <a href="http://mfma.treasury.gov.za/Media_Releases/The%20state%20of%20local%20government%20finances/Pages/default.aspx">reports on municipality financial health</a> using standard indicators based on this data.</p>

    <p>It can be useful to verify numbers retrieved from the API against these published reports. This verifies both a correct understanding of how to use the API, and that the API supplies reliable information. When doing so, it is important to be aware that the reports are based on a snapshot of the data at the point in time where they are generated, while the API could contain amended numbers if a municipality updated their submission. The Treasury's reports also fall back to pre-audited and then budget values if audited values are not available at the time of publication. When this is the case, it would be noted as such. Generally the API can be expected to match the treasury's publications so if one value doesn't match, try checking the same field for other periods and other municipalities to ensure the correct field is being compared. If that is the case, one can investigate further why a specific field doesn't match - perhaps because of the reasons mentioned here.</p>

    <h2 id="export-csv">Export CSV</h2>

    <p>You can export a subset of the data as CSV if you want to explore that offline. As you <a href="#datasets">explore the data of a cube</a>, you can download the entire dataset matching your current filters showing only the columns you have selected. Once you've narrowed down what you want, click the Download CSV button.</p>

    <h1 id="datasets">Datasets</h1>

    {% for cube in cubes|dictsort:"name" %}
      <h2 id="cube-{{ cube.name }}">{{ cube.model.label }} - {{ cube.name }}</h2>

      {% if cube.items %}
      <p>
        <a href="/table/{{ cube.name }}/">Explore this dataset</a>
      </p>
      {% endif %}

      {% if cube.model.description %}
      <p>{{ cube.model.description }}</p>
      {% endif %}

      {% if cube.model.return_forms %}
      <p>Submitted to National Treasury using return forms: <a href="http://mfma.treasury.gov.za/Return_Forms/Pages/default.aspx" target="_blank">{{ cube.model.return_forms|join:", " }}</a>.</p>
      {% endif %}

      {% if cube.items %}
      <h3 id="{{ cube.name }}-items">Items</h3>

      <table class="items">
        <tr><th>Code</th><th>Item</th><th>Composition</th></tr>
        {% for item in cube.items %}
          <tr class="{{ item|get:'item.return_form_structure' }}-item">
            <td>{{ item|get:"item.code" }}</td>
            <td>{{ item|get:"item.label" }}</td>
            <td>{{ item|get:"item.composition"|default_if_none:"" }}</td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}

      <h3 id="{{ cube.name }}-dimensions">Dimensions and their attributes</h3>

      <table class="dimensions">
        {% for dimension in cube.model.dimensions.values|dictsort:"label" %}
          <tr class="dimension">
            <td colspan="2">{{ dimension.label }} {% if dimension.non_aggregatable %}(<a href="#non-aggregatable">Non-aggregatable</a>){% endif %}</td>
            <td colspan="2">{{ dimension.description }}</td>
          </tr>

          {% for attribute in dimension.attributes.values|dictsort:"label" %}
            <tr class="attribute">
              <td><b>{{ attribute.label }}</b></td>
              <td>{{ attribute.ref }}</td>
              <td>{{ attribute.type }}</td>
              <td>{{ attribute.description }}</td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>
    {% endfor %}

    <h1 id="general">Using the API</h1>

    <p>The API endpoint is <code>http://municipaldata.treasury.gov.za/api</code></p>
    <p>The API only supports <code>GET</code> requests. Successful responses have response code 200 and are in JSON format.</p>

    <h2 id="data-formats">How the API works</h2>

    <p>The API is a simple <a href="https://en.wikipedia.org/wiki/OLAP">OLAP</a>-style interface.</p>

    <p>Each dataset (income and expenditure, balance sheet, etc.) is called a <b>cube</b>. You can think of a cube as a simple (but very big) spreadsheet. Each <b>fact</b> in the cube is a row in our spreadsheet that has <b>dimensions</b> and <b>measures</b>. Dimensions are labels such as <i>municipality</i>, <i>year</i>, <i>month</i> or <i>function code</i>. Measures are monetary amounts in South African Rands.</p>

    <aside class="info">
      Monetary values are integer South African Rands and don't include cents.
    </aside>

    <p>You can use the API to <a href="#list-cubes">list available cubes</a> and get <a href="#model">metadata</a> about a cube that describes its attributes and values. You can also use the API to <a href="#cut">filter or cut</a>, <a href="#sort">sort</a> and <a href="#aggregate">aggregate</a> facts in a cube.</p>

    <p>The API is very similar to a pivot table in a spreadsheet. It lets you slice, dice and aggregate values to make sense of a vast amount of information.</p>

    <aside class="info">
      The values may be <code>null</code> or <code>0</code> when there wasn't another value filled in by the municipality. <code>null</code> should therefore be treated as <code>0</code>. If data isn't returned for a given query, it means this data wasn't <a href="#where-from">supplied to Treasury in an acceptable form</a>.
    </aside>

    <h2 id="pagination">Pagination</h2>

    <p>Pagination is important to make sure the client and server handle a mangeable amount of data at a time. The result of a query may be broken up into multiple pages. By default, a maximum of 10 000 items are returned per page. The response includes information on the page size,
    current page, and total number of results to assist with pagination. If the page size is smaller than the <code>total_fact_count</code> or <code>total_cell_count</code> of a given query (depending on the kind of query), you might want to request the remaining pages and collect the results client-side.</p>

    <pre>
{
  "page": 2,
  "page_size": 100,
  "total_member_count": 152,
  ...
}
    </pre>

    <p>You can paginate through results using these query parameters:</p>

    <table>
      <tr>
        <th>Parameter</th>
        <th>Default</th>
        <th>Description</th>
      </tr><tr>
        <td>pagesize</td>
        <td>10000</td>
        <td>Maximum number of items per page.</td>
      </tr><tr>
        <td>page</td>
        <td>1</td>
        <td>The page number to fetch, starting with page 1.</td>
      </tr>
    </table>

    <h2 id="cut">Cut (filter)</h2>

    <pre>
...
"cell": [
  {
    "ref": "item.code",
    "value": "3010",
    "operator": ":"
  },
  {
    "ref": "municipality.code",
    "value": "BUF",
    "operator": ":"
  },
],
"cells": [
  {
    "item.code": "3010",
    "amount.sum": 6256185,
    "financial_period.period": 8
  },
...
    </pre>

    <p>Use the parameter <code>cut</code> with values <code>key:value</code> to restrict values to a subset of the cube. This is called cutting the cube into cells. Separate multiple cuts with <em>vertical bar</em> e.g. <code>cut=item.code:"3010"|municipality.code:"BUF"</code></p>
    <p>String values must be quoted with double quotes</p>

    <p><code>GET /cubes/&lt;name&gt;/facts?cut=item.code:"3010"|municipality.code:"BUF"</code></p>

    <table>
      <tr>
        <th>Key</th>
        <th>Type</th>
        <th>Example value</th>
      </tr><tr>
        <td rowspan="2">dimension.attribute</td>
        <td>integer</td>
        <td><code>11</code></td>
      </tr><tr>
        <td>string</td>
        <td><code>"BUF"</code></td>
      </tr>
    </table>

    <h2 id="sort">Sorting</h2>

    <p>Use the parameter <code>order</code> to sort the returned values. Separate multiple sorting dimensions with <em>comma</em> e.g. <code>order=financial_year_end.year:desc,amount_type.code:asc</code></p>
    <p>The results will be primarily sorted according to the first argument; within that, it is sorted according to the second argument, etc. That means it's equivalent to a stable sort performed in reverse order of the arguments.</p>

    <h1 id="cubes">Queries on Cubes</h1>

    <h2 id="list-cubes">List Cubes</h2>

    <p>
      <code>GET <a target="_blank" href="https://municipaldata.treasury.gov.za/api/cubes">https://municipaldata.treasury.gov.za/api/cubes</a></code>
    </p>

    <pre id="get-cubes">(loading...)</pre>

    <p>Lists all available cubes (datasets).</p>

    <h2 id="model">Get a Cube's Model</h2>

    <p>
      <code>GET https://municipaldata.treasury.gov.za/api/cubes/&lt;name&gt;/model</code>
    </p>
    <p>
      <code>GET <a target="_blank" href="https://municipaldata.treasury.gov.za/api/cubes/incexp/model">https://municipaldata.treasury.gov.za/api/cubes/incexp/model</a></code>
    </p>
    <pre>
GET /cubes/incexp/model
{
  "status": "ok",
  "model": {
    "description": "a.k.a. Financial Performance. Financial obligations in and out.",
    "update_cycle": "quarter",
    "last_updated": "2016-06",
    "dimensions": {
      "function": {
        "description": "Function",
        "hierarchy": "function",
        "key_attribute": "code",
        "key_ref": "function.code",
        "cardinality": 55,
        "label_attribute": "desc",
        "cardinality_class": "medium",
        "label_ref": "function.desc",
        "label": "Function",
        "attributes": {
          "code": {
            "column": "function_cde",
            "ref": "function.code",
            "type": "string",
            "description": "some description",
            "label": "Code"
          },
          "desc": {
            "column": "function_desc",
            "ref": "function.desc",
            "type": "string",
            "description": "some description",
            "label": "Description"
          }
        },
        "ref": "function"
      },
      ...
    </pre>

    <p>Returns a description of the cube. The metadata includes attributes, measures, dimensions, aggregates etc.</p>
    <p><code>update_cycle</code> indicates how frequently you can expect later data and corrections in this dataset</p>
<p><code>last_updated</code> is a partial ISO 8601 date indicating the date of the latest update. E.g. 2016-06 means the financial year 2015-2016 4th Quarter updates have been applied, which happen some time after it's actually 2016-06. Note that due to the time it takes to verify and submit data, the latest data in a given dataset lags behind that dataset's date.</p>

    <h2 id="list-facts">List Facts</h2>

    <pre>
GET /cubes/incexp/facts?pagesize=2
{
  "total_fact_count": 463171,
  "status": "ok",
  "page": 1,
  "fields": [
    "period_length.length",
    "financial_year_end.year",
    "financial_period.period",
    "function.desc",
    "function.code",
    "amount_type.desc",
    "amount_type.code",
    "incexp.desc",
    "incexp.code",
    "demarcation.desc",
    "demarcation.code",
    "amount"
  ],
  "cell": [],
  "page_size": 2,
  "order": [],
  "data": [
    {
      "financial_year_end.year": 2015,
      "amount_type.code": "ACT",
      "amount": null,
      "incexp.code": "1500",
      "amount_type.desc": "Actual",
      "demarcation.desc": "Buffalo City",
      "function.code": "191",
      "incexp.desc": "Agency Services",
      "period_length.length": "month",
      "demarcation.code": "BUF",
      "function.desc": "Budget & Treasury Office/Not Required",
      "financial_period.period": "01"
    },
    {
      "financial_year_end.year": 2015,
      "amount_type.code": "ACT",
      "amount": null,
      "incexp.code": "1500",
      "amount_type.desc": "Actual",
      "demarcation.desc": "City of Cape Town",
      "function.code": "191",
      "incexp.desc": "Agency Services",
      "period_length.length": "month",
      "demarcation.code": "CPT",
      "function.desc": "Budget & Treasury Office/Not Required",
      "financial_period.period": "01"
    }
  ]
}
    </pre>
    <p><code>GET https://municipaldata.treasury.gov.za/api/cubes/&lt;name&gt;/facts</code></p>
    <p><code>GET <a target="_blank" href="https://municipaldata.treasury.gov.za/api/cubes/incexp/facts?pagesize=5">https://municipaldata.treasury.gov.za/api/cubes/incexp/facts?pagesize=5</a></code></p>

    <p>Get individual entries from a cube in a non-aggregated form.</p>

    <h3>Query String Parameters</h3>

    <table>
      <tr>
        <th>Parameter</th>
        <th>Default</th>
        <th>Description</th>
      </tr><tr>
        <td>cut</td>
        <td></td>
        <td>See <a href="#cut">filters (cut)</a></td>
      </tr><tr>
        <td>page</td>
        <td></td>
        <td>See <a href="#pagination">pagination</a></td>
      </tr><tr>
        <td>pagesize</td>
        <td></td>
        <td>See <a href="#pagination">pagination</a></td>
      </tr><tr>
        <td>order</td>
        <td></td>
        <td>See <a href="#sort">sorting</a></td>
      </tr><tr>
        <td>format</td>
        <td><code>json</code></td>
        <td>Determines whether output is in <code>json</code> or <code>csv</code> format. </td>
      </tr>
    </table>



    <h2 id="list-members">List Members</h2>

    <pre>
GET /cubes/incexp/members/demarcation?pagesize=3
{
  "status": "ok",
  "page": 1,
  "fields": [
    "demarcation.desc",
    "demarcation.code"
  ],
  "cell": [],
  "page_size": 10000,
  "total_member_count": 3,
  "data": [
    {
      "demarcation.code": "BUF",
      "demarcation.desc": "Buffalo City"
    },
    {
      "demarcation.code": "CPT",
      "demarcation.desc": "City of Cape Town"
    },
    {
      "demarcation.code": "JHB",
      "demarcation.desc": "City of Johannesburg"
    },
  ],
  "order": []
}
    </pre>

    <p><code>GET https://municipaldata.treasury.gov.za/api/cubes/&lt;name&gt;/members/&lt;member_name&gt;</code></p>
    <p><code>GET <a target="_blank" href="https://municipaldata.treasury.gov.za/api/cubes/incexp/members/demarcation">https://municipaldata.treasury.gov.za/api/cubes/incexp/members/demarcation</a></code></p>
    <p><code>GET <a target="_blank" href="https://municipaldata.treasury.gov.za/api/cubes/incexp/members/demarcation.label">https://municipaldata.treasury.gov.za/api/cubes/incexp/members/demarcation.label</a></code></p>
    <p><code>GET <a target="_blank" href="https://municipaldata.treasury.gov.za/api/cubes/incexp/members/demarcation?cut=financial_year_end.year:2016">https://municipaldata.treasury.gov.za/api/cubes/incexp/members/demarcation?cut=financial_year_end.year:2016</a></code></p>

    <p>Get distinct values for a given member (dimension) of a cube. For example, all the suppliers in a procurement dataset.</p>

    <h3>URL Parameters</h3>

    <table>
      <tr>
        <th>Parameter</th>
        <th>Description</th>
      </tr><tr>
        <td>name</td>
        <td>Name of the cube</td>
      </tr><tr>
        <td>member_name</td>
        <td>Name of of a dimension or attribute</td>
      </tr>
    </table>

    <h3>Query String Parameters</h3>

    <table>
      <tr>
        <th>Parameter</th>
        <th>Default</th>
        <th>Description</th>
      </tr><tr>
        <td>cut</td>
        <td></td>
        <td>See <a href="#cut">filters (cut)</a></td>
      </tr><tr>
        <td>page</td>
        <td></td>
        <td>See <a href="#pagination">pagination</a></td>
      </tr><tr>
        <td>pagesize</td>
        <td></td>
        <td>See <a href="#pagination">pagination</a></td>
      </tr><tr>
        <td>order</td>
        <td></td>
        <td>See <a href="#sort">sorting</a></td>
      </tr><tr>
        <td>format</td>
        <td>json</td>
        <td>Determines whether output is in <code>json</code> or <code>csv</code> format. </td>
      </tr>
    </table>

    <h2 id="aggregate">Aggregating Facts</h2>

    <pre>
GET /api/cubes/incexp/aggregate

{
  "cell": [],
  "status": "ok",
  "page_size": 10000,
  "attributes": [],
  "total_cell_count": 1,
  "cells": [
    {
      "amount.sum": 17427626659163,
      "_count": 463171
    }
  ],
  "order": [],
  "aggregates": [
    "_count",
    "amount.sum"
  ],
  "page": 1,
  "summary": {
    "amount.sum": 17427626659163,
    "_count": 463171
  }
}
    </pre>

    <p><code>GET https://municipaldata.treasury.gov.za/api/cubes/&lt;name&gt;/aggregate</code></p>
    <p><code>GET <a target="_blank" href='https://municipaldata.treasury.gov.za/api/cubes/incexp/aggregate?drilldown=demarcation.code|demarcation.label|item.code|item.label|item.return_form_structure&cut=financial_year_end.year:2015|amount_type.code:AUDA|financial_period.period:2015|demarcation.code:"TSH"&aggregates=amount.sum'>https://municipaldata.treasury.gov.za/api/cubes/incexp/aggregate?drilldown=demarcation.code|demarcation.label|item.code|item.label|item.return_form_structure&cut=financial_year_end.year:2015|amount_type.code:AUDA|financial_period.period:2015|demarcation.code:"TSH"&aggregates=amount.sum</a></code></p>
    <p><code>GET <a target="_blank" href='https://municipaldata.treasury.gov.za/api/cubes/incexp/aggregate?drilldown=demarcation.code|demarcation.label|item.code|item.label|function.code|function.label|item.return_form_structure&cut=financial_year_end.year:2015|amount_type.code:AUDA|financial_period.period:2015|demarcation.code:"TSH"|item.code:"2800";"5200"&aggregates=amount.sum'>https://municipaldata.treasury.gov.za/api/cubes/incexp/aggregate?drilldown=demarcation.code|demarcation.label|item.code|item.label|function.code|function.label|item.return_form_structure&cut=financial_year_end.year:2015|amount_type.code:AUDA|financial_period.period:2015|demarcation.code:"TSH"|item.code:"2800";"5200"&aggregates=amount.sum</a></code></p>

    <p>Returns aggregate views of the facts in a cube.</p>

    <h3>Query String Parameters</h3>

    <table>
      <tr>
        <th>Parameter</th>
        <th>Default</th>
        <th>Description</th>
      </tr><tr>
        <td>cut</td>
        <td></td>
        <td>See <a href="#cut">filters (cut)</a></td>
      </tr><tr>
        <td>aggregates</td>
        <td><code>_count</code> and the sum of each measure.</td>
        <td>Aggregates to include. Cube Measure refs followed by <code>.sum</code> are currently supported, separated by <code>|</code></td>
      </tr><tr>
        <td>drilldown</td>
        <td>none</td>
        <td>Drilldowns to aggregate by. Dimension attribute refs separated by <code>|</code></td>
      </tr><tr>
        <td>page</td>
        <td></td>
        <td>See <a href="#pagination">pagination</a></td>
      </tr><tr>
        <td>pagesize</td>
        <td></td>
        <td>See <a href="#pagination">pagination</a></td>
      </tr><tr>
        <td>order</td>
        <td></td>
        <td>See <a href="#sort">sorting</a></td>
      </tr><tr>
        <td>format</td>
        <td><code>json</code></td>
        <td>Determines whether output is in <code>json</code> or <code>csv</code> format. </td>
      </tr>
    </table>

    <h2 id="non-aggregatable">Non-aggregatable Dimensions</h2>

    <p>Non-aggregatable dimensions are dimensions where it does not make sense to aggregate over the categories in the dimension.</p>
    <p>For example, it does not make sense to aggregate over all financial years when there is no filter on financial years because the number of years might change when additional data is added. You would be summing together an arbitrary number of years.</p>
    <p>It also does not make sense to aggregate over amount types since summing together a budget and an actual figure makes no sense.</p>
    <p>The correct way to query cubes with non-aggregatable dimensions is to either include that dimension as a drilldown (disaggregate) or as a filter.</p>
    <p>For example, filter by financial year being 2017 and drilldown by amount type, to compare budgeted and actual figures for that year.</p>

    <h1 id="best-practises">Best Practises</h1>

    <p>For the best possible experience using the API, follow these best practises:</p>

    <ul>
      <li>Use <a href="#pagination">pagination</a> to get all the requested data</li>
      <li>Request only the fields you need to minimise the data clients need to download</li>
      <li>Look for an explanation message in error responses. If the response doesn't help you to resolve the issue, <a href="#getting-help">get in touch with us</a></li>
    </ul>

    <h1 id="getting-help">Getting Help</h1>

    <p>You can get help with the API at <a href="mailto:helpdesk@municipalmoney.gov.za">helpdesk@municipalmoney.gov.za</a></p>

  </div>
</div>

<a href="https://github.com/Code4SA/municipal-data"><img style="z-index: 20; position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

{% include '_terms_modal.html' %}

{% endblock %}

{% block js %}
{{ block.super }}
{% javascript "docs" %}
{% endblock %}
