{% extends "layout_data.html" %}
{% load staticfiles format_date %}

{% block title %}Municipal Finance Data{% endblock %}
{% block body-id %}home{% endblock %}

{% block page-content %}
<article>
  <div class="jumbotron text-center">
    <div class="container">
      <img src="{% static 'images/treasury-logo.png' %}" class="logo">
      <h2>Oops, Muni Money is currently down</h2>
      <h4>The website is experiencing a server outage. Our team is working to restore service. We'll keep you updated. Thank you for your patience.
        If you need assistance in the meantime, feel free to reach out to helpdesk@municipalmoney.gov.za</h4>
    </div>
  </div>



  <section class="extras">
    <div class="container">
      <h2>A quick introduction to <strong>Municipal Finance</strong></h2>
      <div class="row">
        <div class="col-md-6">
          {% include "_videos.html" %}
        </div>
      </div>
    </div>
  </section>
</article>
{% endblock %}