{% extends "layout_data.html" %}
{% load staticfiles format_date %}

{% block title %}Municipal Finance Data{% endblock %}
{% block body-id %}home{% endblock %}

{% block page-content %}
<article>
  <div class="jumbotron text-center">
    <div class="container">
      <img src="{% static 'images/treasury-logo.png' %}" class="logo">
      <h2>The Data Explorer API is currently under maintenance</h2>
    </div>
  </div>



  <section class="extras">
    <div class="container">
      <h2>A quick introduction to <strong>Municipal Finance</strong></h2>
      <div class="row">
        <div class="col-md-6">
          {% include "_videos.html" %}
        </div>
      </div>
    </div>
  </section>
</article>
{% endblock %}