{% extends "layout.html" %}
{% load pipeline %}

{% block title %}Municipal Finance API{% endblock %}

{% block head-css %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}


{% block content %}
{% javascript "js" %}
<div id="container" class="container">

  <h1>Municipal Finance API</h1>

  <h2>Early Beta! Please try and give feedback</h2>

  <h2>Expected to be released properly by end of April</h2>


  <h2><a href="docs">Read the docs</a></h2>
  <h2>Explore the data</h2>
  <script>
    $.ajax({
    url: "/api/cubes",
    context: document.body
    }).done(function(response) {
    console.log(response);
    response.data.forEach(function(item) {
    $('<a>', {
      text: item.name,
      href: 'explore/' + item.name + '/'
      }).appendTo($('<p>').appendTo('#container'));
        });
        });
  </script>
</div>
{% endblock %}
