{% extends "layout.html" %}
{% load pipeline %}
{% load lookup %}
{% load staticfiles %}

{% block title %}Municipal Finance Data{% endblock %}

{% block head-css %}
{% stylesheet "api-home" %}
{% endblock %}

{% block js %}
{{ block.super }}
{% javascript "api-home" %}
{% endblock %}

{% block content %}
<header id="header">
</header>

<article>
  <div class="jumbotron text-center">
    <div class="container">
      <img src="{% static 'images/treasury-logo.jpg' %}" class="logo">
      <h1>Municipal Finance Data</h1>

      <p class="lead">
      Current and historical Municipal budget and financial performance data from the National Treasury.
      </p>

      <p>
      <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#terms-modal">Get started</a>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-2">
        <h2>4 years of data</h2>
        <p class="lead">Financial years 2012-2013 to 2015-2016.</p>
      </div>

      <div class="col-sm-6 col-md-4">
        <h2>278 Municipalities</h2>
        <p class="lead">8 metros, 44 district and 226 local municipalities.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-offset-2">
        <h2>12 Datasets</h2>
        <ul>
          {% for cube in cubes|dictsort:"label" %}
          <li>{{ cube.label }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</article>

<footer id="footer">
  <section class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>Contribute on <a href="https://github.com/Code4SA/municipal-data">GitHub</a> <i class="fa fa-github"></i></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list-unstyled">
          {% comment %}
          <li>
            <a href="http://www.treasury.gov.za/" target="_blank"><img class="logo" src="{% static 'images/treasury-logo.jpg' %}"></a>
          </li>
          {% endcomment %}
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list-unstyled">
          <li>
            <a href="http://www.code4sa.org/" target="_blank"><img class="logo" src="{% static 'images/code4sa-logo.png' %}"></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>

<div class="modal fade" tabindex="-1" role="dialog" id="terms-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Please accept the Terms of Use</h4>
      </div>
      <div class="modal-body">
        <p>[terms of use]</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="/docs" class="btn btn-primary">Accept Terms of Use</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
