{% extends "layout.html" %}
{% load pipeline %}
{% load lookup %}
{% load staticfiles %}

{% block title %}Municipal Finance Data{% endblock %}
{% block body-id %}home{% endblock %}

{% block head-css %}
{% stylesheet "api-home" %}
{% endblock %}

{% block js %}
{{ block.super }}
{% javascript "api-home" %}
{% endblock %}

{% block content %}
<header id="header">
</header>

<article>
  <div class="jumbotron text-center">
    <div class="container">
      <img src="{% static 'images/treasury-logo.png' %}" class="logo">
      <h1>Municipal Finance Data</h1>

      <p class="lead">
      Current and historical Municipal budget and financial performance data from the National Treasury.
      </p>
    </div>
  </div>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>4 years of data</h2>
          <p class="lead">Financial years 2012-2013 to 2015-2016.</p>
        </div>

        <div class="col-sm-4">
          <h2>278 municipalities</h2>
          <p class="lead">8 metros, 44 district and 226 local municipalities.</p>
        </div>

        <div class="col-sm-4">
          <h2>39 million facts</h2>
          <p class="lead">Budgeted and actual figures for income and expenditure, cash flow and lots more.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="band-dark">
    <div class="container">
      <h2>Explore a dataset</h2>

      {% for group in cubes %}
        <div class="dataset-buttons clearfix">
        {% for cube_name, cube in group %}
          <a href="/table/{{ cube_name }}/" class="dataset">
            <h4>{{ cube.label}}</h4>
            <p>{{ cube.description }}</p>
            <p class="small">Updated: {{ cube.last_updated }}</p>
          </a>
        {% endfor %}
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="extras">
    <div class="container">
      <h2>A quick introduction to <strong>Municipal Finance</strong></h2>

      <div class="row">
        <div class="col-md-6">
          {% include "_videos.html" %}
        </div>

        <div class="col-md-6">
          <h3>Municipal Money Website</h3>

          <p class="lead">Explore municipal financial performance around South Africa.</p>
          <a href="{{ WAZIMAP.url }}" target="_blank" class="btn btn-primary btn-lg">Municipal Money</a>

          <br>

          <h3>Use the API</h3>
          <p class="lead">All this data is available through a powerful but simple JSON API.</p>
          <a href="/docs" class="btn btn-primary btn-lg">Read the API Docs</a>
        </div>

      </div>
    </div>
  </section>
</article>

<footer id="footer">
  <section class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li>Terms of Use</li>
          <li>Email us at <a href="mailto:feedback@municipalmoney.gov.za">feedback@municipalmoney.gov.za</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="list-unstyled">
          <li>Contribute on <a href="https://github.com/Code4SA/municipal-data">GitHub</a> <i class="fa fa-github"></i></li>
          <li><a href="https://municipalmoney.gov.za/" target="_blank">Municipal Money Website</a></li>
        </ul>
      </div>
    </div>

    <h5>A project by <a href="http://www.treasury.gov.za/" target="_blank">National Treasury</a></h5>

    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <a href="http://www.treasury.gov.za/" target="_blank"><img class="logo" src="{% static 'images/treasury-logo.png' %}"></a>
      </div>
      <div class="col-xs-6 col-sm-4">
        <a href="http://www.code4sa.org/" target="_blank"><img class="logo" src="{% static 'images/code4sa-logo.png' %}"></a>
      </div>
    </div>
  </section>
</footer>
{% endblock %}
