{% extends "layout_data.html" %}
{% load staticfiles format_date %}

{% block title %}Municipal Finance Data{% endblock %}
{% block body-id %}home{% endblock %}

{% block page-content %}
<article>
  <div class="jumbotron text-center">
    <div class="container">
      <img src="{% static 'images/treasury-logo.png' %}" class="logo">
      <h1>Municipal Finance Data</h1>
      <p class="lead">
        Current and historical Municipal budget and financial performance data from the National Treasury.
      </p>
    </div>
  </div>
  <section>
    <div class="container">
      <h2>The Data Explorer API is currently under maintenance</h2>
    </div>
  </section>
</article>
{% endblock %}