{% extends "layout.html" %}
{% load pipeline jsonify staticfiles %}

{% block title %}Municipal Finance Data - {{ cube_model.label }}{% endblock %}

{% block body-class %}table-page{% endblock %}

{% block head-css %}
{% stylesheet "table" %}
{% endblock %}

{% block content %}
<header id="header">
  <div class="container-fluid">
    <div class="pull-right">
      <a class="btn btn-default" href="/" target="_blank"><i class="fa fa-question-circle"></i> Help</a>
    </div>
    <img src="{% static 'images/treasury-logo.jpg' %}" class="logo">
    <h1>Municipal Finance Data Tables</h1>
  </div>
  <div id="spinner" class="progress-bar progress-bar-striped active"></div>
</header>

<article id="table-view">
  <div class="container-fluid">
    <header class="article-header">
      <h2>{{ cube_model.label }}</h2>
    </header>

    <aside class="table-controls">
      <header>
        {{ cube_model.description }}
        <div class="dropdown">
          <a href="#" data-toggle="dropdown">
            Change dataset
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% for cube in cubes.values|dictsort:"name" %}
            <li><a href="{% url 'table' cube.name %}">{{ cube.model.label }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </header>

      <section>
        <h5>Chosen municipalities</h5>
        <ul class="chosen-munis list-unstyled"></ul>
      </section>

      <section>
        <h5>Add a municipality</h5>
        <select class="muni-chooser"></select>
      </section>

      <section>
        <h5>Financial year end</h5>
        <p>
          <i>Note: Audited results only</i>
        </p>
        <ul class="year-chooser list-unstyled"></ul>
      </section>
      <section>
        <a href="" class="csv-download">Download CSV</a>
      </section>
    </aside>
    <section class="table-display">
      <table class="row-headings"></table>
      <div class="table-scroll-area">
        <table class="values"></table>
      </div>
    </section>
  </div>
</article>

<script>
var Location = {
      getOrigin: function() {
      if (!window.location.origin) {
        window.location.origin = window.location.protocol
            + "//" + window.location.hostname
            + (window.location.port ? ':' + window.location.port: '');
      }
      return window.location.origin;
    }
}

var MUNI_DATA_API = Location.getOrigin() + '/api';
var CUBE_NAME = '{{ cube_name|escapejs }}';
var CUBES = {{ cubes|jsonify|safe }};
</script>

<script>
</script>
{% endblock %}

{% block js %}
{% javascript "table" %}
{% endblock %}
