{% extends "layout.html" %}
{% load pipeline jsonify staticfiles %}

{% block title %}Municipal Money Data - {{ cube_model.label }}{% endblock %}
{% block description %}Current and historical Municipal {{ cube_model.label }} data from the National Treasury{% endblock %}

{% block body-class %}table-page{% endblock %}

{% block head-css %}
{% stylesheet "table" %}
{% endblock %}

{% block content %}
<header id="header">
  <div class="container-fluid">
    <div class="pull-right">
      <ul class="list-unstyled">
        <li id="terms-ok" class="text hidden">You've accepted the <a data-toggle="modal" href="#terms-modal">Terms of Use</a></li>
        <li>
          <a class="btn btn-default" href="/" target="_blank"><i class="fa fa-question-circle"></i> Help</a>
        </li>
      </ul>
    </div>

    <img src="{% static 'images/treasury-logo.png' %}" class="logo">
    <h1><a href="/">Municipal Finance Data Tables</a></h1>
  </div>
  <div id="spinner" class="progress-bar progress-bar-striped active"></div>
</header>

<article id="table-view">
  <div class="container-fluid">
    <header class="article-header">
      <p>Interest in Municipal Finance data has far exceeded our expectations. So much so that we're unable to handle all the requests. We're working
  hard on expanding our capacity to make this data available again. Please check back shortly.
      </p>
      <p>Thanks, the Code for South Africa team. <a href="mailto:feedback@municipalmoney.gov.za">feedback@municipalmoney.gov.za</a></p>
      <aside>
    </header>
  </div>
</article>

{% endblock %}
