{% extends "layout.html" %}
{% load pipeline jsonify staticfiles %}

{% block title %}Municipal Money Data - {{ cube_model.label }}{% endblock %}
{% block description %}Current and historical Municipal {{ cube_model.label }} data from the National Treasury{% endblock %}

{% block body-class %}table-page{% endblock %}

{% block head-css %}
{% stylesheet "table" %}
{% endblock %}

{% block content %}
<header id="header">
  <div class="container-fluid">
    <div class="pull-right">
      <ul class="list-unstyled">
        <li id="terms-ok" class="text hidden">You've accepted the <a data-toggle="modal" href="#terms-modal">Terms of Use</a></li>
        <li>
          <a class="btn btn-default" href="/" target="_blank"><i class="fa fa-question-circle"></i> Help</a>
        </li>
      </ul>
    </div>

    <img src="{% static 'images/treasury-logo.jpg' %}" class="logo">
    <h1><a href="/">Municipal Money Data Tables</a></h1>
  </div>
  <div id="spinner" class="progress-bar progress-bar-striped active"></div>
</header>

<article id="table-view">
  <div class="container-fluid">
    <header class="article-header">
      <aside>
        <div class="dropdown downloads">
          <button type="button" id="downloadBtn" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="disabled">
            <i class="fa fa-download"></i> Download <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="downloadBtn">
            <li><a href="#" data-format="xlsx" target="_blank">Excel (.xlsx)</a></li>
            <li><a href="#" data-format="csv" target="_blank">CSV (.csv)</a></li>
          </ul>
        </div>
      </aside>
      <h2>{{ cube_model.label }}</h2>

      <div class="dropdown">
        <a href="#" data-toggle="dropdown">
          Change dataset
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          {% for cube in cubes.values|dictsort:"name" %}
          <li><a href="{% url 'table' cube.name %}">{{ cube.model.label }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="note"><strong>Note:</strong> A value of "-" indicates no amount has been submitted by the municipality.</div>
    </header>

    <aside class="table-controls">
      <header>
        {{ cube_model.description }}
        <a href="/docs#cube-{{ cube_name }}" target="_blank">Read more →</a>
        {% if cube_model.return_forms %}
        <br>
        Return forms: <a href="http://mfma.treasury.gov.za/Return_Forms/Pages/default.aspx" target="_blank">{{ cube_model.return_forms|join:", " }}</a>
        {% endif %}
        <br>
      </header>

      <section>
        <h5>Municipalities</h5>
        <select class="muni-chooser"></select>
        <div class="clear-munis"><a href="#" id="clear-munis">Remove all</a></div>
        <ul class="chosen-munis list-unstyled"></ul>
      </section>

      <section class="clearfix">
        <h5>Financial year end</h5>
        <ul class="year-chooser list-unstyled"></ul>
      </section>

      <section class="amount-type">
        <h5>Amount type</h5>
        <select class="amount-type-chooser form-control"></select>
      </section>

      <section class="loading">
        <i>Loading...</i>
      </section>

      <section class="function">
        <h5>Government function</h5>
        <a href="#" class="function-chooser" data-toggle="modal" data-target="#function-box">All functions</a>
      </section>
    </aside>

    <section class="table-display">
      <table class="row-headings"></table>
      <div class="table-scroll-area">
        <table class="values"></table>
      </div>
    </section>
  </div>

  <div id="function-box" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Breakdown values by which Government Functions?</h4>
        </div>

        <div class="modal-body">
          <div class="options"></div>
        </div>

        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</article>

<div class="modal fade" tabindex="-1" role="dialog" id="terms-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please accept the Terms of Use</h4>
      </div>
      <div class="modal-body">
        <p>[terms of use]</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default decline">Decline</button>
        <button type="button" class="btn btn-primary accept">Accept Terms of Use</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

var MUNI_DATA_API = '{{ API_URL }}';
var CUBE_NAME = '{{ cube_name|escapejs }}';
var CUBES = {{ cubes|jsonify|safe }};
</script>

<script>
</script>
{% endblock %}

{% block js %}
{% javascript "table" %}
{% endblock %}
