{% load staticfiles pipeline %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block head_title %}SALGA Municipal Barometer{% endblock %}</title>
    <meta name="description" content="{% block head_meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head_css %}
    {% stylesheet "scorecard" %}
    <link href="{% static 'stylesheets/print.css' %}" rel="stylesheet" type="text/css" {% if not request.GET.print %}media="print"{% endif %} />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'stylesheets/vendor/leaflet-0.6.4.ie.css' %}" />
    <![endif]-->
    {% block head_css_extra %}{% endblock %}
    {% endblock head_css %}
    {% block head_javascript %}
    <script src="//cdn.jsdelivr.net/g/modernizr@2.7,respond@1.4"></script>
    {% block head_javascript_extra %}{% endblock %}{% endblock %}

    {% block head_facebook_tags %}{% endblock %}
    {% block head_twitter_tags %}{% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %} {% if request.GET.print %}print{% endif %}">
    {% block body %}
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

      {% block header %}
      <header id="page-header">
        <div id="page-header-title" class="container">
          <a id="menu-toggle" class="visible-xs fa fa-bars" href="#menu" data-toggle="collapse"></a>
          <a class="title" href="{% url 'homepage' %}">SALGA Municipal Barometer <span class="visible-print-inline">- www.municipalbarometer.co.za</span></a>
          <div id="menu">
            <nav class="menu-nav">
              <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/faq">Frequently Asked Questions</a></li>
              </ul>
            </nav>
            <nav class="search">
              <input name="geography_select" class="form-control input-sm" id="geography-select" type="text" placeholder="Type a municipality name or address..." autocomplete="off">
            </nav>
          </div>
        </div>
      </header>
      {% block header_content %}{% endblock header_content %}
      {% endblock %}

      {% block content_container %}
      <div class="content-container container">
        {% block content %}{% endblock %}
      </div>
      {% endblock %}

      <footer id="page-footer">
        <section class="container footer-container">
          {% block footer_content %}
            <div class="row">
              <div class="col-sm-4">
                <ul class="list-unstyled">
                  <li><a href="/about">About Municipal Money</a></li>
                  <li><a href="/locate">Find Your Municipality</a></li>
                  <li><a href="/faq">Frequently Asked Questions</a></li>
                  <li><a href="/terms">Terms of Use</a></li>
                </ul>
              </div>

              <div class="col-sm-4">
                <ul class="list-unstyled">
                  <li>Use the <a href="https://municipaldata.treasury.gov.za/" target="_blank">Municipal Money API</a></li>
                  <li>Contribute on <a href="https://github.com/Code4SA/municipal-data">GitHub</a> <i class="fa fa-github"></i></li>
                  <li>Email us at <a href="mailto:feedback@municipalmoney.gov.za">feedback@municipalmoney.gov.za</a></li>
                </ul>
              </div>
            </div>

            <h5>A project by <a href="http://www.treasury.gov.za/" target="_blank">National Treasury</a></h5>

            <div class="row">
              <div class="col-xs-6 col-sm-4">
                <a href="http://www.treasury.gov.za/" target="_blank"><img class="logo" src="{% static 'images/treasury-logo.png' %}"></a>
              </div>
              <div class="col-xs-6 col-sm-4">
                <a href="http://www.code4sa.org/" target="_blank"><img class="logo" src="{% static 'images/code4sa-logo.png' %}"></a>
              </div>
            </div>
          {% endblock footer_content %}
        </section>
      </footer>
      {% endblock body %}

      <script>
      var API_URL = '{{ API_URL }}';
      </script>

      {% block body_javascript %}
      <!-- Begin Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        {% if GOOGLE_ANALYTICS_ID %}
        ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
        {% endif %}
        ga('send', 'pageview');
      </script>
      <!-- End Google Analytics -->

      {% javascript "scorecard" %}

      {% block body_javascript_extra %}{% endblock %}{% endblock body_javascript %}
      <div class="visible-print-inline">Page generated: {% now "Y-m-d H:i:s.u" %}</div>
  </body>
</html>
