{% load staticfiles pipeline %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block head_title %}Municipal Money{% endblock %}</title>
    <meta name="description" content="{% block head_meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head_css %}
    {% stylesheet "scorecard" %}
    <link href="{% static 'stylesheets/print.css' %}" rel="stylesheet" type="text/css" {% if not request.GET.print %}media="print"{% endif %} />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="{% static 'css/vendor/leaflet-0.6.4.ie.css' %}" />
    <![endif]-->
    {% block head_css_extra %}{% endblock %}
    {% endblock head_css %}
    {% block head_javascript %}
    <script src="//cdn.jsdelivr.net/g/modernizr@2.7,respond@1.4"></script>
    {% block head_javascript_extra %}{% endblock %}{% endblock %}

    {% block head_facebook_tags %}{% endblock %}
    {% block head_twitter_tags %}{% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %} {% if request.GET.print %}print{% endif %}">
    {% block body %}
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

      {% block header %}
      <header id="page-header">
        <div id="page-header-title" class="container">
          <i id="menu-toggle" class="fa fa-bars"></i>
          <a class="title" href="{% url 'homepage' %}">Municipal Money <span class="visible-print-inline">{{ WAZIMAP.url }}</span></a>
          {% block nav_tools %}
          <div id="menu" class="tool-set">
            <input name="geography_select" id="geography-select" type="text" placeholder="Start typing a place name or address..." autocomplete="off">
          </div>
          {% endblock %}
          <div class="header-buttons">
            {% comment %}
            <a class="wide-only" href="https://twitter.com/{{ WAZIMAP.twitter }}" title="{{ WAZIMAP.twitter }} on Twitter"><i class="fa fa-2x fa-twitter"></i></a>
            {% endcomment %}
          </div>
        </div>
      </header>
      {% block header_content %}{% endblock header_content %}
      {% endblock %}

      {% block content_container %}
      <div class="content-container container">
        {% block content %}{% endblock %}
      </div>
      {% endblock %}

      <footer id="page-footer">
        <section class="container footer-container">
          {% block footer_content %}
            <div class="row">
            <div class="col-sm-4">
              <ul class="list-unstyled">
                <li>A project by <a href="http://www.treasury.gov.za/" target="_blank">National Treasury</a></li>
                <li><a href="/about">About Municipal Money</a></li>
                <li><a href="/locate">Find your municipality</a></li>
              </ul>

              <br>

              <ul class="list-unstyled">
                {% comment %}
                <li>Terms of use</li>
                {% endcomment %}
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="list-unstyled">
                <li>Use the <a href="https://data.municipalmoney.org.za/" target="_blank">Municipal Money API</a></li>
                <li>Contribute on <a href="https://github.com/Code4SA/municipal-data">GitHub</a> <i class="fa fa-github"></i></li>
                {% comment %}
                <li>
                  <a href="http://www.treasury.gov.za/" target="_blank"><img class="logo" src="{% static 'images/treasury-logo.jpg' %}"></a>
                </li>
                {% endcomment %}
              </ul>
            </div>
            <div class="col-sm-4">
              <ul class="list-unstyled">
                {% comment %}
                <li>
                  <a href="http://www.code4sa.org/" target="_blank"><img class="logo" src="{% static 'images/code4sa-logo.png' %}"></a>
                </li>
                {% endcomment %}
              </ul>
            </div>
          </div>
          {% endblock footer_content %}
        </section>
      </footer>
      {% endblock body %}

      {% include 'settings_js.html' %}

      {% block body_javascript %}
      <!-- Begin Google Analytics -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        {% if WAZIMAP.ga_tracking_id %}
        ga('create', '{{ WAZIMAP.ga_tracking_id }}', 'auto');
        {% endif %}
        ga('send', 'pageview');
      </script>
      <!-- End Google Analytics -->

      <!--[if gte IE 9]><!-->
        <script src="//cdn.jsdelivr.net/g/jquery@2.1,d3js@3.4,typeahead.js@0.10.2(typeahead.bundle.min.js),underscorejs@1.6,spinjs@1.3,handlebarsjs@1.3(handlebars.min.js)"></script>
      <!--<![endif]-->

      <!-- local patched version of r2d3 handles percentage widths, HTML overlays -->
      <!--[if lte IE 8]>
        <script src="{{ STATIC_URL }}js/vendor/r2d3.js" charset="utf-8"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/aight/1.2.2/aight.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/aight/1.2.2/aight.d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="//cdn.jsdelivr.net/g/typeahead.js@0.10.2(typeahead.bundle.min.js),underscorejs@1.6,spinjs@1.3,handlebarsjs@1.3(handlebars.min.js)"></script>
      <![endif]-->

      <!--[if lte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
      <![endif]-->

      <script src="{% static 'js/app.js' %}"></script>
      <script src="{% static 'js/widget.geo.select.js' %}"></script>
      {% block body_javascript_extra %}{% endblock %}{% endblock body_javascript %}
      <div class="visible-print-inline">Page generated: {% now "Y-m-d H:i:s.u" %}</div>
  </body>
</html>
