<h1>Terms of Use Policy</h1>

<div class="row">

  <div class="col-md-4 col-md-push-8">
    <ul class="nav nav-pills nav-stacked" class="terms-menu">
      <li role="presentation"><a href="#summary">Executive Summary</a></li>
      <li role="presentation"><a href="#introduction">1. Introduction</a></li>
      <li role="presentation"><a href="#usage">2. Usage</a></li>
      <li role="presentation"><a href="#intellectual-property">3. Usage and Intellectual Property</a></li>
      <li role="presentation"><a href="#disclaimer">4. Disclaimer</a></li>
      <li role="presentation"><a href="#warranty">5. Warranty</a></li>
      <li role="presentation"><a href="#privacy">6. Privacy</a></li>
      <li role="presentation"><a href="#updating-these-terms">7. Updating these Terms of Use</a></li>
      <li role="presentation"><a href="#contact-information">8. Contact Information for Feedback and Requests</a></li>
      <li role="presentation"><a href="#law">9. Choice of Law</a></li>
    </ul>
  </div>

  <div class="col-md-8 col-md-pull-4">
    
    <h2 id="summary">Executive Summary</h2> 
    <p> 
      As part of its commitment to good governance, National Treasury (NT) is making available the extensive municipal financial data it has been collecting since 2003/4.
    </p>
    <p>
      Users are encouraged to utilise this data to leverage pubic participation in governance, create value for developers, business, researchers and others.
    </p>
    <p>
      Subject to certain limitations summarized below, you are free to use the data on this website and published through our APIs (Application Programme Interface) freely and flexibly, for both commercial and non-commercial purposes, at no cost.
    </p>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4 class="panel-title">
          <i class="fa fa-warning" aria-hidden="true"></i> This is only a summary of the Terms of Use Policy. Please see the full policy below.
        </h4>
      </div>
      <div class="panel-body">
        <ul>
          <li>Users should also be aware of the <a href="/faq#limitations">potential limitations</a> of the datasets – <a href="/faq#limitations">see more here</a>.</li>
          <li>NT gives no warranties and makes no representations with respect to the data and you agree that NT shall not be liable to you in connection with your use of this website or the data or your inability to access the website or use the data.</li>
          <li>Access and use of this website is entirely at the User’s own risk.</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading text-center">
            <h2>
              You MAY<br> 
              <i class="fa fa-check fa-3x" aria-hidden="true"></i>
            </h2>
          </div>
          <table class="table table-striped">
            <tr><td>Download, copy, publish, distribute and transmit the data </td></tr>
            <tr><td>Adapt and extract the data</td></tr>
            <tr><td>Use the data commercially and non-commercially for example, by combining it with other data, or by including it in your own product or application</td></tr>
            <tr><td><a href="#contact-information">Contact us</a> if you find an inconsistencies in the data</td></tr>
            <tr><td><a href="#contact-information">Contact us</a> if personal data is discovered in any of the data sets</td></tr>
            <tr><td>Suggest additional data sets to be uploaded provided it is in the legislative framework in which the National Treasury operates</td></tr>
            <tr><td>Provide feedback on your experience of using the website</td></tr>
            <tr><td>Share how you have used the data </td></tr>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-danger">
          <div class="panel-heading text-center">
            <h2>
              You MAY NOT<br>
              <i class="fa fa-times fa-3x" aria-hidden="true"></i>
            </h2>
          </div>
          <table class="table table-striped">
            <tr><td>Use the data in any form without acknowledging the source of the data and the date of publication</td></tr>
            <tr><td>Use the data to mislead others or distort documents from their sources</td></tr>
            <tr><td>Use any personal data that may be found in the datasets</td></tr>
            <tr><td>Use the website or the data in any manner inconsistent with any law, including committing a criminal office, gaining unauthorised access to other computer systems or transmitting unlawful material</td></tr>
            <tr><td>Reference the provider of the data in any other manner within your work other than as the supplier of the data</td></tr>
            <tr><td>Claim or imply that NT endorses your product, services, analysis or interpretation of the data</td></tr>
            <tr><td>Use the trademarks or logos of NT, without prior written consent</td></tr>
            <tr><td>Upload, transmit, or distribute any computer viruses, worms, or any software intended to damage or alter a computer system or data</td></tr>
          </table>       
        </div>
      </div>
    </div>

    <h2 id="introduction">1. Introduction</h2>
    <p>
      NT is committed to enabling good governance, through increasing transparency to strengthen citizen oversight and promote accountability.  Therefore, it is making available the extensive municipal financial data it has been collecting since 2003/4.  
    </p>
    <p>
      The purpose of this Terms of Use policy is primarily to indicate how this website and data may be used, and what limitations are placed on the use thereof. You are encouraged to use and re-use the data that is available on this website and published through our APIs freely and flexibly, subject to the conditions set out herein.  
    </p>
    <p>
      Users are encouraged to utilise this data to leverage pubic participation in governance, create value for developers, business, researchers and others. Users should also be aware of the <a href"/faq#limitations">potential limitations</a> of the datasets – see more <a href="/faq#limitations">here</a>.
    </p>

    <h2 id="usage">2. Usage</h2>
    <p>
      <ol>
        <li>
          By using this website or API, you acknowledge that you have read, understood, and agree to be bound by the Terms of Use.  If the user does not wish to be bound by these Terms of Use, the user may not access, display, use or download and/or otherwise copy or distribute data obtained from this website.
        </li>
        <li>
          Users may use, download, copy, publish, distribute and transmit the data obtained from this website and API freely and flexibly, including for commercial and non-commercial purposes, subject to the following conditions.  Users must:
          <ul>
            <li>Acknowledge and reference the source of the data as National Treasury and the date of publication.</li>
            <li>Ensure that the data is not used to mislead others or distort documents from their sources</li>
            <li>Ensure that the use of the data does not affect the level of protection of individuals and their personal information provided for in legislation</li>
            <li>Not use the website or the data in an unlawful way or to commit unlawful acts including committing a criminal office, gaining unauthorised access to other computer systems or transmitting unlawful material</li>
            <li>Not claim or imply that NT endorses their products, services, analysis or interpretation of the data</li>
            <li>Adhere to all sections of this Terms of Use policy</li>
          </ul>
        </li>
        <li>
          While Users may not claim association with NT or endorsement of their product, services, analysis or interpretation of the data - you may use the hyperlink below to link to the website homepage.
        </li>
      </ol>
    </p>

    <h2 id="intellectual-property">3. Usage and Intellectual Property</h2>
    <p>
      <ol>
        <li>
          The trademarks and logos on this website are not subject to the Usage terms in the section above.  These remain the property of NT and any other third party whose marks or logos may appear on the website or in the datasets, and may only be used with the NT prior written consent.
        </li>
        <li>
          NT will not make claims to any intellectual property arising from applications or analysis of the data, unless indicated as part of a specific event or work commissioned by the NT or one of its partners.
        </li>
      </ol>
    </p>

    <h2 id="disclaimer">4. Disclaimer</h2>
    <p>
      <ol>
        <li>
          NT will endeavour to ensure that the data available on this website is complete, validated and updated regularly.  However, NT cannot be held responsible for any incorrect data reported by a municipality. The quality of the data is primarily assured by the Chief Accounting Officer of the municipality. Reliance on any data displayed on this website is at the user’s own risk.
        </li>
        <li>
          NT accepts no liability whatsoever arising from or connected to, the accuracy, reliability, currency or completeness of any material contained on this website or on any linked site.  Users are reminded to pay particular attention to the status of annual financial reports, which will be accompanied by one of the following audit opinions:
          <ul>
            <li>Unqualified opinion with no findings outstanding</li>
            <li>Unqualified opinion with emphasis of matter items</li>
            <li>Qualified opinion</li>
            <li>Adverse opinion</li>
            <li>Disclaimer of opinion</li>
          </ul>
          Each category has different levels of reliability and accuracy, with an ‘Unqualified opinion with no findings outstanding’ report being the most reliable and accurate.
        </li>
      </ol>
    </p>

    <h2 id="warranty">5. Warranty</h2>
    <p>
      <ol>
        <li>
          The use of this website, its data and APIs is at your sole risk.  NT makes no warranties or representations that the website, its data or APIs will meet the Users’ requirements; will be available on an uninterrupted, timely secure, or error-free basis; will be accurate, reliable, free of viruses or other harmful codes; or will be complete, free from errors or omissions.
        </li>
        <li>
          The data provided on this website and published through our APIs is made available on an “as is” basis and NT expressly disclaims all warranties of any kind related to the website, its data and APIs, including warranties of merchantability, title, fitness for a particular purpose, non-infringement, compatibility, security, and accuracy and makes no express or implied representations or warranties regarding the content of the website and that the website has been compiled or supplied to meet the user's individual requirements. Users are encouraged to report any possible errors, malfunctions or offensive material by using the feedback link.
        </li>
        <li>
          NT does not monitor or endorse any works derived from open data sets provided on this site, or any links to associated websites or entities, unless indicated otherwise.
        </li>
        <li>
          NT does not vouch for any analyses conducted with data retrieved from this site or through our APIs.
        </li>
        <li>
          Where there are links on the website to resources maintained by third parties, NT makes no representations or warranties as to the accuracy of, or any other aspect relating to those resources, including but not limited to the security or trustworthiness of such resources.
        </li>
      </ol>
    </p>

    <h2 id="privacy">6. Privacy</h2>
    <p>
      <ol>
        <li>
          NT may electronically collect, store and use the information including the User’s names, contact details, surfing patterns, e-mail and IP address for statistical purposes. This information will be used to measure the number of visits, average time spent at the website, and determine the use of the website in order to improve content. 
        </li>
        <li>
          NT may also request personal information for limited purposes, such as when you complete a feedback or request for further information form.
        </li>
        <li>
          NT may use the information you submit to create a personal profile to customize its response to further requests or inquiries and to improve the website. In addition, the web administrator(s) may, where necessary, use your information for various site related tasks. NT will ensure that any marketing activities comply with applicable law and that it is implemented with procedures to obtain the necessary consent before sending you e-mail containing information about NT’s services. You may at any time request that we discontinue sending you such materials.
        </li>
        <li>
          Although NT may provide Users’ information to service providers that handle information on its behalf, it will usually not share the information with third parties or other public entities for secondary or unrelated purposes unless otherwise disclosed at the point of collection.  By providing information to NT through this website, you are consenting to such transfers.
        </li>
        <li>
          If personal information has been submitted to this website, and/or if you have concerns regarding your privacy while using this website, please contact us at <a href="mailto:feedback@municipalmoney.gov.za">feedback@municipalmoney.gov.za</a>.
        </li>
        <li>
          Users may choose to unsubscribe at any time by clicking the unsubscribe link.
        </li>
        <li>
          The User acknowledges that it is possible for internet-based communications to be intercepted.  Without the use of encryption, the internet is not a secure medium and privacy cannot be ensured.  NT will not be responsible for any damages that the user or any third party may suffer as a result of the transmission of confidential information or disclosed information that you make to NT, or that you expressly or implicitly authorise NT to make, or for any errors or any changes made to any transmitted information. 
        </li>
      </ol>
    </p>

    <h2 id="updating-these-terms">7. Updating these Terms of Use</h2>
    <p>
      <ol>
        <li>
          This is version of 1.0 of the Terms of Use policy.  
        </li>
        <li>
          NT reserves the right to change, modify, add to or remove from portions or the whole of these terms and conditions of use from time to time. Changes to these terms and conditions of use will take effect upon such changes being posted to this website. It is the User’s obligation to periodically check these terms and conditions of use at this website for changes or updates. The User’s continued use of this website following the posting of changes or updates will be considered notice of the User’s acceptance to abide by and be bound by these terms and conditions of use, including such changes or updates.
        </li>
        <li>
          Should NT make any substantial changes, it may notify Users by placing a notice on the website. 
        </li>
      </ol>
    </p>

    <h2 id="contact-information">8. Contact Information for Feedback and Requests</h2>
    <p>
      Should you come across any inconsistencies in the data or any problematic data on this website that may need to be corrected, please do let us know by contacting us at <a href="mailto:helpdesk@municipalmoney.gov.za">helpdesk@municipalmoney.gov.za</a>. We will endeavour to respond to all queries and comments as soon as possible. 
    </p>

    <h2 id="law">9. Choice of Law</h2>
    <p>
      <ol>
        <li>
          These Terms of Use will be governed by the laws of the Republic of South Africa, and the user consents to the jurisdiction of the North Gauteng High Court, Pretoria in the event of any dispute.  
        </li>
        <li>
          If any of the provisions of the Terms of Use are found by a court of competent jurisdiction to be invalid or unenforceable, that provision will be enforced to the maximum extent permissible so as to give effect to the intent of the Terms of use and the remainder of the Terms of Use will continue in full force.  
        </li>
        <li>
          The Terms of Use constitutes the entire agreement between NT and the user with regard to the use of the data and this website. 
        </li>
      </ol>
    </p>

  </div>
  
</div>
