{% load static %}

<div class="video-chooser">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe id="video-iframe" frameborder="0" allowfullscreen name="video-iframe" src="https://www.youtube.com/embed/lBJX7LIzMQs?showinfo=0"></iframe>
  </div>

  <ul class="nav nav-pills video-choices">
    <li role="presentation" class="active"><a data-lang="eng" href="https://www.youtube.com/watch?v=lBJX7LIzMQs">Municipal Barometer</a></li>
    <li role="presentation"><a data-lang="eng" href="https://www.youtube.com/embed/0j6F94GkuOQ">Municipal Finance</a></li>
  </ul>
</div>
