{% load static %}

<div class="video-chooser">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe id="video-iframe" frameborder="0" allowfullscreen name="video-iframe" src="https://www.youtube.com/embed/0j6F94GkuOQ?showinfo=0"></iframe>
  </div>

  <ul class="nav nav-pills video-choices">
    <li role="presentation" class="active"><a data-lang="eng" href="https://www.youtube.com/embed/0j6F94GkuOQ">English</a></li>
    {% comment %}
    <li role="presentation"><a data-lang="afr" href="http://www.youtube.com/embed/HYfLQg4-kVs">Afrikaans</a></li>
    <li role="presentation"><a data-lang="sot" href="http://www.youtube.com/embed/HYfLQg4-kVs">Sesotho</a></li>
    <li role="presentation"><a data-lang="xho" href="http://www.youtube.com/embed/HYfLQg4-kVs">isiXhosa</a></li>
    <li role="presentation"><a data-lang="zul" href="http://www.youtube.com/embed/HYfLQg4-kVs">isiZulu</a></li>
    {% endcomment %}
  </ul>
</div>
