{% extends "_base.html" %}

{% block content %}
<h1>About <strong>Municipal Money</strong></h1>
<div class="jumbotron add-margin-top">
  <h1>Municipal Money is our money, spent in our name.</h1>
  <h2>As citizens, we should know how this money has been spent and also have a say in how money is spent in the future to better our lives.</h2>
</div>
<h2>Why does <strong>Municipal Money</strong> exist?</h2>
<div class="row">
  <div class="col-md-4 col-md-push-8 hidden-xs">
    <blockquote>
      Municipal Money is an initiative of the National Treasury.
    </blockquote>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <p>
      Municipal Money is an initiative of the National Treasury, which has collected extensive municipal financial data over several years and would like to share this information with the public.  The aim is to make this data widely available in order to increase transparency, strengthen civic oversight and promote accountability. 
    </p>
  </div>
</div>
<h2>What is <strong>Municipal Money</strong>?</h2>
<div class="row">
  <div class="col-md-4 col-md-push-8 hidden-xs">
    <blockquote>
      Municipal Money is a web-based tool designed to inform citizens on their local authority’s financial performance and allows comparisons between municipalities.
    </blockquote>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <p>
      Municipal Money is a web-based tool designed to inform citizens on their local authority’s financial performance and allows comparisons between municipalities.
    </p>
    <p>
      The website is designed to present key municipal financial information to a general audience, who do not necessarily have any financial background or knowledge.  This is done by using a variety of visual elements and tools - including interactive maps, charts, graphs and short videos.   We have also provided different levels of detail in explaining key financial concepts, so our audience can select the amount and level of information they want access to. 
    </p>
    <p>
      This tool draws on the raw data from the Municipal Money API website – www.treasury.data.gov.za and is a clear example of how that raw data can be utilised to enhance civic education and oversight. 
    </p>    
  </div>
</div>
<h2>Why is <strong>Municipal Money</strong> important?</h2>
<div class="row">
  <div class="col-md-4 col-md-push-8 hidden-xs">
    <blockquote>
      Local government is contingent on active citizens and organised civil society vigilantly exercising oversight and holding their municipalities accountable.
    </blockquote>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <p>
      The South African system of local government is contingent on active citizens and organised civil society vigilantly exercising oversight and holding their municipalities accountable. Municipal Money aims to promote transparency and citizen engagement through the visualization and ‘demystification’ of information about municipal spending.
    </p>
    <p>
      In sharing one of its most strategic datasets through Municipal Money, National Treasury is demonstrating its commitment to improving transparency and to the cause of open data.
    </p>
    <p>
      While there is already a vast amount of municipal financial data available through various sources, the reliability and consistency of that data may be questionable.  In addition, the time and effort required to learn where to look for different pieces of information, and how to interpret what is found, may be substantial, and potentially off-putting.  Municipal Money empowers financial and non-financial audiences alike, by taking complex amounts of financial and non-financial data, extracting pertinent information, summarizing that information and presenting it in a user-friendly manner. 
    </p>    
  </div>
</div>

<h2>Who is behind <strong>Municipal Money</strong>?</h2>
<div class="row">
  <div class="col-md-8">
    <p>
      Municipal Money is an initiative of the National Treasury, which hosts extensive amounts of municipal financial data, submitted by municipalities.  In order to share this data with the public, National Treasury has enlisted the help of an external partner, Code4SA – an NGO that promotes informed public decision-making using technology.
    </p>
    <p>
      Municipal Money is a free, impartial, politically neutral, online tool to find out about how municipal funds are spent. Our aim is to help citizens understand where public money is spent and whether this is within acceptable norms, not to comment on how it is spent.  In doing so we hope to empower our citizens, strengthen civic oversight and promote accountability.  We hope that Municipal Money will be a useful tool for everyone, regardless of their political persuasion and their views on public spending.
    </p>
  </div>
  <div class="col-md-4">
    <blockquote>
      If you have ideas on how we can improve Municipal Money, or you’d like to tell us about how you’re using the website, please share this with us at <a href="mailto:feedback@municipalmoney.gov.za">feedback@municipalmoney.gov.za</a>. <br>We’re keen to hear from you!
    </blockquote>
  </div>
</div>
{% endblock %}
