{% extends "_base.html" %}

{% block head_title %}Frequently Asked Questions{% endblock %}

{% block content %}
<h1>Frequently Asked Questions</h1>
<div class="row">
  <div class="col-md-4 col-md-push-8 hidden-xs">
    <div id="faq-subnav">
      <nav class="hidden-print hidden-xs hidden-sm">
        <ul class="nav">
          <li><a href="#what-is-municipal-money">What is Municipal Money?</a></li>
          <li><a href="#who-created-municipal-money">Who created Municipal Money?</a></li>
          <li><a href="#reporting-bugs">How do I report bugs?</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="col-md-8 col-md-pull-4">

    <div class="faq-item" id="what-is-municipal-money">
      <h3 class="faq-question">What is <strong>Municipal Money?</strong></h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et fermentum risus. Etiam sed accumsan diam, vel vulputate ipsum. Suspendisse hendrerit eleifend orci, in facilisis ex rhoncus ac. Nulla nec lorem elit. Curabitur pretium dapibus ante a malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed non tortor purus. Aenean tincidunt, urna vel suscipit convallis, dolor ipsum tincidunt lorem, eget cursus sem neque ut mi. Suspendisse et urna vel mi porttitor fermentum. 
      </p>
    </div>

    <div class="faq-item" id="who-created-municipal-money">
      <h3 class="faq-question">Who created <strong>Municipal Money?</strong></h3>
      <p>
        Praesent condimentum, diam ac tristique suscipit, diam dolor ultricies nunc, et iaculis libero sapien quis nunc. Pellentesque vehicula a ex vel blandit. Ut accumsan rutrum maximus. Phasellus facilisis auctor turpis nec laoreet. Suspendisse varius porta sapien, id vestibulum tellus feugiat sit amet. Vivamus sed quam at lectus accumsan maximus quis eu nisl. Curabitur vestibulum, eros nec luctus ultricies, orci nisl semper sem, non pulvinar mauris massa at sem. 
      </p>
    </div>

    <div class="faq-item" id="reporting-bugs">
      <h3 class="faq-question">How do I report bugs?</h3>
      <p>
        Praesent lacus arcu, eleifend et hendrerit id, venenatis ut quam. Mauris vitae dolor fermentum, consectetur sapien sit amet, suscipit leo. Sed ullamcorper tortor eget justo dapibus, vel pulvinar felis auctor. Donec gravida, sapien at vulputate aliquet, turpis eros aliquet magna, vitae congue elit sapien sit amet risus. Ut non justo congue, viverra elit eget, dictum nisl. Sed egestas dolor purus, eget vestibulum dui rutrum eu. Sed cursus arcu at turpis sagittis, vitae facilisis urna pulvinar. In convallis lorem ut turpis faucibus interdum. Nullam ipsum ligula, fringilla quis fringilla at, feugiat eget tellus. Morbi accumsan non diam eget sodales. Donec aliquam, ipsum at euismod egestas, enim massa mattis nunc, ut vestibulum metus dolor non neque. 
      </p>
    </div>

  </div>
</div>
{% endblock %}
