{% extends '_base.html' %}
{% load pipeline staticfiles %}

{% block body_id %}homepage{% endblock %}

{% block head_facebook_tags %}
    <meta property="og:title" content="Municipal Money South Africa" />
    <meta property="og:site_name" content="Municipal Money" />
    <meta property="og:description" content="How well is your municipality managing its money? Explore municipal financial performance across South Africa." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://municipalmoney.gov.za{% static 'img/video-placeholder.jpg' %}" />
{% endblock %}

{% block content_container %}
<div id="homepage-search">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>Find data at local municipal level.</h1>
      </div>
      <div class="col-md-6">
        <div class="search-container">
          <input type="text" class="form-control" id="geography-select-home" placeholder="Search for a municipality in South Africa">
        </div>
        <div class="geolocate-only">
          <span class="or">or</span>
          <a href="/locate" class="btn btn-primary" id="homepage-button-geolocate"><i class="fa fa-location-arrow"></i> Use your current location</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="homepage-video" class="section">
  <div class="container">
    <h1>A quick introduction to <strong>Municipal Service Delivery</strong></h1>

    <div class="row">
      <div class="col-md-6">
        {% include "_videos.html" %}
      </div>

      <div class="col-md-6">
        <h2>Municipal Money is our money, spent in our name.</h2>

        <p class="lead">
        As citizens, we should know how this money has been spent and also have a say in how money is spent in the future to better our lives.
        </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/about">Find out more →</a>
        </p>
        </p>
      </div>
    </div>
  </div>
</div>

<div id="homepage-map">
  <div class="container">
    <h1>Where do you live?</h1>
  </div>

  <div id="slippy-map"></div>
</div>

<div class="section" id="homepage-instructions">
  <div class="container">
    <h1 class="add-margin-bottom">Using <strong>Municipal Money</strong></h1>
    <h2><i class="fa fa-question-circle" aria-hidden="true"></i> How do I <strong>find a municipality</strong>?</h2>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-heading">
            Option 1
          </div>
          <div class="card-image">
            <img src="{% static 'img/examples/text-search.png' %}" class="img-responsive">
          </div>
          <div class="card-text">
            Start typing the name of the municipality. <br>
            Then select the correct municipality from the dropdown.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-heading">
            Option 2
          </div>
          <div class="card-image">
            <img src="{% static 'img/examples/map-search.png' %}" class="img-responsive">
          </div>
          <div class="card-text">
            Alternatively, select the municipality on the map.<br>
            Use the <span class="btn-group" id="example-zoom-buttons"><button class="btn btn-default btn-sm"><i class="fa fa-plus"></i></button><button class="btn btn-default btn-sm"><i class="fa fa-minus"></i></button></span> buttons to zoom in and out.
          </div>
        </div>
      </div>
    </div>

    <h2><i class="fa fa-question-circle" aria-hidden="true"></i> How do I <strong>explore the data</strong>?</h2>
    <p>Every municipality profile includes <strong>indicators</strong> describing the municipality's financial health.</p>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-image">
            <img src="{% static 'img/examples/indicator-text.png' %}" class="img-responsive">
          </div>
          <div class="card-text">
            Each indicator includes:
            <ul>
              <li>the name of the indicator and the year of the most recent value</li>
              <li>the most recent indicator value</li>
              <li>a text description</li>
              <li>a key</li>
              <li>a link that shows an explanation of how the value is calculated</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
         <div class="card">
          <div class="card-image">
            <img src="{% static 'img/examples/indicator-chart.png' %}" class="img-responsive">
          </div>
          <div class="card-text">
            A chart is shown visualising the value over the last few years.
          </div>
        </div>
      </div>
      <div class="col-md-4">
         <div class="card">
          <div class="card-image">
            <img src="{% static 'img/examples/indicator-didyouknow.png' %}" class="img-responsive">
          </div>
          <div class="card-text">
            Many indicators include a <strong>DID YOU KNOW?</strong> box providing additional information or explanations.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block body_javascript_extra %}
{{ block.super }}

<script>
// show 'use my current location' button
if (Modernizr.geolocation) {
    $('.geolocate-only').show();
}
// geoSelect already defined by widget.geo.select.js
geoSelect.focus()

var maps = new Maps();
var centre = [-28.5, 25];
var zoom = 5;
maps.drawMapForHomepage(centre, zoom);
</script>
{% endblock %}
