{% extends '_base.html' %}
{% load pipeline staticfiles %}

{% block body_id %}homepage{% endblock %}

{% block content_container %}
<div id="homepage-search">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <h1>Where to?</h1>
      </div>
      <div class="col-md-6">
        <div class="search-container">
          <input type="text" class="form-control" id="homepage-search-input" placeholder="Search for a municipality in South Africa">
        </div>
        <div class="geolocate-container">
          <span class="or">or</span>
          <a class="btn btn-primary" id="homepage-button-geolocate"><i class="fa fa-location-arrow"></i> Use your current location</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="homepage-map">
  <div id="slippy-map"></div>
</div>
{% endblock %}

{% block body_javascript_extra %}
{{ block.super }}

<script src="{% static 'js/vendor/leaflet-0.6.4.js' %}"></script>
<script src="{% static 'js/vendor/topojson.v1.min.js' %}"></script>
<script src="{% static 'js/vendor/leaflet.label.js' %}"></script>
<script src="{% static 'js/maps_static.js' %}"></script>
<script src="{% static 'js/maps_mapit.js' %}"></script>
<script src="{% static 'js/profile_map.js' %}"></script>

<script>
// show 'use my current location' button
if (Modernizr.geolocation) {
    $('.geolocate-only').show();
}
// geoSelect already defined by widget.geo.select.js
geoSelect.focus()

var maps = new ProfileMaps();
var centre = [-28, 25];
var zoom = 5;
maps.drawMapForHomepage('municipality', centre, zoom);
</script>
{% endblock %}
